<div style="width: 100%;">
    <div class="recruit-new-advisor-done">
        <div class="form-new-advisor-done">
            <!-- <button class="icon-back" (click)="back()" mat-icon-button style="text-decoration: none; cursor: pointer;">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <span class="text-new-advisor-done">{{ 'RECRUIT_NEW_ADVISOR.RECRUIT_NEW_ADVISOR' | translate }}</span> -->
    
            <app-title [type]="title" [message]="'BUY_NAEP_DISCOUNT_SUCCESS.TITLE'" [link]="'/advisor-earning-program'" >
            </app-title>
        </div>
    
        <div class="advisor-success">
            <p>{{'BUY_NAEP_DISCOUNT_SUCCESS.SUCCESSFULLY'| translate}}</p>
            <img src="../../../assets/images_doxa/undraw_positive_attitude_xaae.png">
            <p class="text-2">{{'BUY_NAEP_DISCOUNT_SUCCESS.COMPLETE'| translate}}</p>
        </div>
    </div>

    <app-bottom-navigation></app-bottom-navigation>
</div>