
<div class="shipping-policy">

    <div class="body-shipping-policy">
        <h2 id="header-shipping">Thermomix® – Terms and Conditions of Purchase</h2>
        <h3 id="header-policy">Delivery Policy</h3>
        <br>
     <p id="policy-desc">Delivery can be arranged to Malaysian local addresses within (FIVE) 5 working days after
        receipt of payment. Thermomix® Malaysia | True Mix Sdn Bhd reserves the right to charge
        freight on all deliveries. This fee will be made known to you at the time of placing your
        order. No deliveries will be made while payment is outstanding.</p>   
    </div>
</div>