<div *ngIf="listOrder.length > 0">
    <p *ngIf="message !== null && message !== undefined">{{message}}</p>
    <mat-card class="order-list-product" *ngFor="let order of listOrder">
        <!-- <div *ngIf="order.is_buying_for_customer && showIsBuying " style="width: 100%;background-color: var(--link-color);border-radius: 8px;margin-bottom: 5px;">
            <p style="color:  white; text-align: center;">{{ 'ORDER_DETAIL.PAY_BY_AD' | translate }}</p>
        </div> -->

        <!-- *ngIf="order.is_customer_pay && showIsCustomerPay " -->
        <!-- <ng-container *ngIf="order.is_buying_for_customer && showIsBuying">
            <div class="ordered-by-advisor">
                <div>{{ 'ORDER_DETAIL.PAY_BY_CUS' | translate }}</div>
            </div>
        </ng-container> -->
    
        <div *ngIf="showStatus" class="status-order">
            {{order.status}}
        </div>
        <div class="order-product" *ngFor="let product of order.listProduct">
            
            <app-product (click)="goToDetail(order.uuid)" [product]="product" [orderId] = "order.id"
                [showAdvisor]="showAdvisor === undefined ? true : showAdvisor" [isOrderDetail]="isOrderDetail" [showCustomer]="showCustomer">
            </app-product>
        </div>
        <div class="order-summary" *ngIf="order.listProduct.length !== 0" fxLayout="row" >
            <span fxFlex="1 0 auto"  class="order-id">{{ 'ORDER_DETAIL.ORDER' | translate }} #{{order.order_id_tmm}}</span>
            <span fxFlex="0 1 auto"  class="order-total"> 
                {{totalItem(order)}} {{ 'ORDER_DETAIL.ITEM' | translate }}, {{ 'ORDER_DETAIL.TOTAL' | translate }}: 
                <span class="summary">{{order.totalAmount | currency: order.currency + ' ':'symbol':''}}</span>
            </span>
        </div>
    </mat-card>
</div>
<div *ngIf="listOrder.length === 0">
    <app-empty-box-product></app-empty-box-product>
</div>
