@import "src/@fuse/scss/fuse";

.mat-card {
    padding: unset;
}

.order-list-product{
    margin-top: 10px;
    width: 100%;
    box-shadow: none;
    border: 0.2px solid var(--border-color);
    cursor: pointer;

    .ordered-by-advisor {
        width: 100%;
        background-color: var(--link-color);
        margin-bottom: 5px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        @include media-breakpoint("xs") {
            height: 35px;
        }
    }

    .status-order {
        color: var(--primary-color);
        font-weight: 600;
        margin: 10px 0 0 10px;
        font-size: var(--web-primary-text) !important;

        @include media-breakpoint("xs") {
            font-size: var(--mobi-primary-text) !important;
        }
    }

    .order-product {
        border-bottom: 0.5px solid var(--border-color);
        padding: 10px;
    }
}

.order-summary {
    background: var(--form-background) 0% 0% no-repeat padding-box;
    height: 45px;
    width: 100%;
    font-size: var(--web-primary-text);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    @include media-breakpoint("xs") {
        font-size: var(--mobi-primary-text) !important;
        height: 35px;
        padding: 0 5px;
    }

    .order-id {
        float: left;
        color: var(--text-color);
        opacity: 1;
    }

    .order-total {
        color: var(--text-color);
        
        .summary{
            color: var(--red-color);
        }
    }
    
}