@import "src/@fuse/scss/fuse";
@import "../../../../@fuse/scss/partials/background";


.payment-done {
    @include background();
    height: 100%;
    .content {
        @include backgroundPage();
        height: 80%;
        @include media-breakpoint("xs") {
            padding-top: 13px !important;
        }

        .header {
            padding-bottom: 54px;
            .icon-back {
                padding-right: 7px;
                padding-top: 1px;
            }
        }

        .complete-payment {
            width: 100%;
            height: 100%;
            color: var(--text-color);

            & img {
              margin-left: auto;
              margin-right: auto;
              display: block;
            }
            .img-payment {
              max-width: 50% !important;
            }
            .text1-complete-payment {
              font-size: 14px;
              padding-top: 32px;
              display: block;
              text-align: center;
              padding-bottom: 20px;
            }
            & button {
              cursor: pointer;
              width: 100%;
              height: 48px;
              border: 0px solid;
              background-color: var(--primary-color);
              color: #ffffff;
              font-size: 14px;
              border-radius: 8px;
              display: block;
              text-align: center;
              margin: 0px auto;
            }
          }
    }
}