<div class="contact-us">
    <div class="header-contact">
        <p>Thermomix® Malaysia | True Mix Sdn Bhd Purchase Terms and Conditions</p>
    </div>
    
    <div class="content-contact">
        <p>
            These are the terms and conditions that apply when you purchase products from Thermomix® Malaysia | True Mix Sdn Bhd.
        </p>
        <p>
            “Thermomix® Malaysia” (“we”, “us” or “our”) from our online shop.
        </p>
        <p>
            For information relating to the cancellation of transactions entered into through an ‘in-home Cooking Experience please click here or contact the independent Advisor specified in your Order Form and Tax Invoice.
        </p>
    
        <br>
        <p style="font-weight: bold;font-style: italic">1 MALAYSIA SALES ONLY</p>
        <p>
            We only sell and ship products within Malaysia
        </p>
        <br>

        <p style="font-weight: bold;font-style: italic">2 PRICING</p>
        <p>2.1 Our displayed product prices are in Malaysia Ringgit and include GST, unless otherwise indicated.</p>
        <p>2.2 Our displayed prices exclude freight and handling charges which will be added to the total price for your order.</p>
        <p>2.3 Our displayed prices may change from time to time.</p>
        <br>

        <p style="font-weight: bold;font-style: italic">3 PRODUCT DESCRIPTIONS	</p>
        <p>3.1 We update our online shop regularly. We will do our best to ensure, but cannot promise, that the information displayed on our online shop will always be correct.</p>
        <p>3.2 Our online shop includes images for illustrative purposes, but we cannot promise that any image will always reflect or portray the full design or options relating to that product.</p>
        <br>

        <p style="font-weight: bold;font-style: italic">4 PLACING YOUR ORDER</p>
        <p>4.1 You must be at least twenty-one years of age to place an order on this online shop.</p>
        <p>4.2 You may place your order by clicking on the ‘Add to Cartʼ button alongside the products of your choosing on this online shop. Once your selected products are in your virtual ‘shopping cartʼ, click on the ‘Check Outʼ link and follow the on-screen prompts to complete your purchase. When you place your order and payment is received, we will issue you with an email confirmation of your order details. A valid email address is required when ordering through our online shop</p>
        <p>4.4 By placing an order, you make an order to us to purchase the products you have selected based on these terms</p>
        <p>4.5 We will notify you that your order is being processed by sending you an ‘Order Confirmationʼ or ‘Tax Invoiceʼ indicating that the products have been fully paid by email. However, we do not formally accept your order until your order has cleared the payment gateways and banks.</p>
        <p>4.6 If we cannot process or accept your order after payment is received we will contact you by email or telephone.</p>
        
        <br>
        <p style="font-weight: bold;font-style: italic">5 PAYMENT METHODS AND PROCESSING</p>
        <p>5.1 We currently accept Visa, Mastercard, and full credit card payment</p>
        <p>5.2 We process credit card payments after you place an order in accordance with clause 4.</p>
        <p>5.3 For security reasons we reserve the right to decline any credit cards issued by banks outside of Malaysia</p>
        <br>

        <p style="font-weight: bold;font-style: italic">6 DELIVERY</p>
        <p>6.1 Delivery costs will be displayed either as you proceed to add products or after you have entered your postcode at the checkout.</p>
        <p>6.2 Delivery prices may change from time to time. Delivery costs are influenced by the size and weight of the products and your location. Delivery times are estimated to be processed within 7 business days.</p>
        <p>6.3 We will endeavour to process all orders on this online shop within seven working days, however due to circumstances out of our control this may not occur. If there are any unforeseen delays, you will be contacted.</p>
        <p>6.4 Orders will be shipped to you by our local delivery partners</p>
        <p>6.5 All risk of loss or damage to the goods passes to you when we dispatch the products.</p>
        <br>

        <p style="font-weight: bold;font-style: italic">7 CONSUMER WARRANTY</p>
        <p>Our products come with 2 year consumer use warranty and 1 year commercial use warranty. Please ensure that you open your parcel and check all products are included and are undamaged. If you believe that the products were damaged in transit or are faulty, please contact us as soon as possible. We do not offer refunds if you simply change your mind. The consumer warranty may not apply if the products are damaged by abnormal use.</p>
        <br>

        <p style="font-weight: bold;font-style: italic">8 PRIVACY POLICY</p>
        <p>We undertake to comply with the terms of our privacy policy which is set out here.</p>
        <br>

        <p style="font-weight: bold;font-style: italic">9 SECURITY OF INFORMATION</p>
        <p>Whilst we use our reasonable endeavours to protect the security of transmission of information over the Internet, we do not guarantee or warrant that any transmission of any data over the Internet as totally secure. Accordingly, any information which you transmit to us is transmitted at your own risk. Once we receive your transmission, we will take reasonable steps to preserve the security of such information.</p>
        <br>

        <p style="font-weight: bold;font-style: italic">10 GENERAL</p>
        <p>10.1 If any part of these terms are found to be void, unlawful, or unenforceable then that part will be deemed to be severable from the balance of the terms and the severed part will not affect the validity and enforceability of any remaining provisions.</p>
        <p>10.2 These terms will be governed by and interpreted in accordance with the laws of Malaysia.	</p>
        <p>10.3 You agree to the jurisdiction of the courts of Malaysia to determine any dispute arising out of these terms.</p>
        <br>

        <p style="font-weight: bold;font-style: italic">11 REGISTRATION FOR SHOPPING REQUIRED	</p>
        <p>11.1 Registration is required prior to submitting an order through this online shop. Registration is not completed until you have submitted the registration form and we have confirmed registration by confirming your login information with you. All information supplied by you upon registration must be true, complete and accurate information (“User Data”). You must maintain and promptly update your User Data as appropriate from time to time.</p>
        <p>11.2 We will use your email address as your user name and therefore when registering as a user, you must provide a genuine email address. You must not impersonate another living person or Registered User.</p>
        <p>11.3 We may refuse your registration where we consider your suggested user name or passwords to be inappropriate. Grounds for refusal may include, but are not limited to, offensive content, obscenity, abuse, defamatory content, contempt, incitement, copyright infringement, brand names or registered trademarks, company or organisation names, names of high-profile or public figures or names promoting political, religious, social or economic groups or issues.</p>
        <p>11.4 Registered Users may not use membership for business or commercial purposes. </p>
        <p>11.5 We reserve the right to refuse suggested usernames at our sole discretion and do not have to provide any reasons for such refusal.</p>
        <p>11.6 Without limiting any other provision of these terms, if you provide any information that is untrue, inaccurate, or incomplete, or we have reasonable grounds to suspect that such is the case, we reserve the right to suspend or terminate your user account and to refuse any and all current or future use of this online shop (or any portion thereof).</p>
        <p>11.7 You agree not to assign, transfer or sublicense your rights as a Registered User of this online shop. You further agree not to register more than one account, create an account on behalf of someone else, or create a false or misleading identity on this online shop.</p>
        <p>11.8 You agree to keep the User Data confidential. You understand and agree that you are fully responsible for all actions and submissions made from your account. If you become aware of any unauthorised use of your account, you should notify us immediately (Email: [enquiry@thermomix.com.my]). </p>
    </div>

    


</div>