<div style="width: 100%;">
    <div class="apply-naep-error">

        <div class="title-apply-naep-error">
            <app-title [type]="title" [message]="'BUY_NAEP_DISCOUNT_SUCCESS.TITLE'"></app-title>
        </div>
    
        <div class="content-apply-naep-error">
            <p>Oops!</p>
            <img src="../../../assets/images_doxa/undraw_positive_attitude_xaae.png">
            <p class="text-2">{{'BUY_NAEP_DISCOUNT_SUCCESS.COMPLETE'| translate}}</p>
        </div>
    </div>

    <app-bottom-navigation></app-bottom-navigation>
</div>