@import "src/@fuse/scss/fuse";

::-webkit-scrollbar {
    height: 6px !important;
    width: 6px !important;

    @include media-breakpoint('xs') {
        height: 0 !important;
        width: 0 !important;
    }
}

.order-history {
    margin-top: 15px;
    width: 100%;
    height: 100%;

    @include media-breakpoint('xs') {
        padding-bottom: 60px;
    }

    .link{
        .dot {
            font-size: 18px;
            color: var(--text-color);
            padding-left: 15px;
            padding-right: 5px;
            
    
            @include media-breakpoint("xs") {
                font-size: 15px;
            }
    
            @include media-breakpoint("sm") {
                margin-left: 12px;
            }
        }
    
        .text {
            font-size: 18px;
            color: var(--text-color);
            text-decoration: underline;
    
            @include media-breakpoint("xs") {
                font-size: 15px;
            }
        }
    }
    .tabs {
        padding: 0 10px;

        .mat-tab-header {
            width: 100%;
            overflow: auto;

            .mat-tab-label {
                flex-basis: auto !important;
                min-width: 120px !important;
                @media screen and (min-width : 1300px){
                    width: 150px !important;
                    min-width: auto !important;
                    flex-grow: 0 !important;
                }
            }

            .mat-tab-label-container { 
                overflow: visible !important;
            }
        }

        .mat-tab-body{
            .mat-tab-body-content{
                overflow: hidden;
            }
        }

        .mat-tab-label {
            color: var(--text-color);
            @include media-breakpoint("xs") {
                min-width: 0px !important;
                margin: 3px !important;
                padding: 3px !important;
            } 
        }
        .mat-tab-label-content {
            .number-item {
                height: 18px;
                width: 18px;
                position: absolute;
                top: 2px;
                right: 0px;
                background: var(--red-color);
                border-radius: 50%;
                font-size: 8px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media-breakpoint("lt-lg") {
                    font-size: 6px;
                    height: 14px;
                    width: 14px;
                }
            }
        }
        
        /* Styles for the active tab label */
        .mat-tab-label.mat-tab-label-active {
            color: var(--primary-color) !important;
            min-width: 90px !important;
            margin: 3px !important;
            padding: 3px !important;
        }
        
        .mat-ink-bar {
            background-color: var(--primary-color) !important;
        }

        .order-tab-body {
            width: 100%;
            position: relative;
            overflow: auto;
            height: 675px;

            @include media-breakpoint("lt-lg") {
                padding: 0 5px;
            }

            p {
                color: var(--text-color);
                opacity: 1;
            }

            .all-orders-message {
                color: var(--text-color);
            }

            .search-box {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 10px;
                border: 1px solid #707070;
                border-radius: 8px;
                margin: 15px 0;

                @include media-breakpoint("xs") {
                    padding: 5px;
                    margin: 5px 0;
                }

                input {
                    width: 100%;
                    padding: unset;
                    height: 25px;
                }

                .mat-progress-spinner {
                    width: 20px !important;
                    height: 20px !important;

                    svg {
                        color: var(--color--primary);
                        width: 20px !important;
                        height: 20px !important;
                    }
                }
            }
        }
        
    }

}
