@import "../../../../../@fuse/scss/fuse";
@import "../../../../../@fuse/scss/partials/background";

:host {
    p-calendar {
        ::ng-deep .ui-calendar {
            display: flex !important;
            
            input {
                border: 0.5px solid var(--border-color) !important;
                border-right: none !important;
                flex-grow: 1 !important;
                transition: none;
                box-shadow: none;
                border-radius: 6px 0px 0px 6px;
                &:enabled:focus:not(.ui-state-error) {
                    box-shadow:none;
                    border-color: var(--border-color);
                };
                height: 40px;

                
            }
            button {
                border: 0.5px solid var(--border-color);
                background: #fff;
                border-left: none;
                border-radius: 0px 6px 6px 0px;
                height: 40px;
                .ui-button-icon-left {
                    color: #269A3E;
                }
                .ui-button-text {
                    background-color: #fff;
                    margin-right: 2.5px;
                    margin-bottom: 0.5px;
                    &:enabled:active,&:enabled:hover {
                        background-color: #fff;
                        color: #ffffff; 
                        border-color: var(--border-color);
                    }
                }
                &:enabled:focus:not(.ui-state-error) {
                    box-shadow:none;
                    border-color: var(--border-color);
                }
            }
            .ui-datepicker {
                .ui-state-active {
                    background-color: #269A3E;
                    border: 0.5px solid var(--border-color);
                    border-radius: 12px;
                }
            }
        }
    }
    ::ng-deep .ui-dropdown{
        width: 99%;
        height: 48px;
        display: block;
        margin: 0px auto;
        @include media-breakpoint("xs") {
            height: 40px;
            line-height: 40px;
        }
        border: none;
        min-width: 0px !important;
        padding: 0px 5px;
        box-shadow: none;
    }
    ::ng-deep .ui-dropdown-label{
        vertical-align: middle;
        padding: 0px 10px;
        height: 40px;
        width: 100%;
        font-size: 14px;
        @include media-breakpoint("xs") {
            height: 40px;
            line-height: 40px;
            font-size: 11px;
        }
        margin: 0px;
        line-height: 48px;
        color: var(--text-color) !important;
    }
    //ui-multiselect
    ::ng-deep .ui-multiselect{
        width: 99%;
        height: 48px;
        display: block;
        margin: 0px auto;
        @include media-breakpoint("xs") {
            height: 40px;
            line-height: 40px;
        }
        border: none;
        min-width: 0px !important;
        padding: 0px 5px;
        box-shadow: none;
    }
    ::ng-deep .ui-multiselect-label{
        vertical-align: middle;
        padding: 0px 10px !important;
        height: 40px;
        width: 100%;
        font-size: 14px;
        @include media-breakpoint("xs") {
            height: 32px;
            line-height: 40px;
            font-size: var(--mobi-primary-text);
        }
        margin: 0px;
        line-height: 48px;
        color: #788190 !important;
    }
    ::ng-deep .ui-multiselect-item{
        display: flex !important;
    }

    ::ng-deep .ui-multiselect-trigger{
        height: 45px;
        margin-top: 3px;

        @include media-breakpoint("xs") {
            height: 35px;
        }
    }

    mat-bar-button{
        button{
            text-align: center;
            height: 100%;
            width: 100%;
        }
    }

    ::ng-deep .mat-radio-label-content {
            font-size: var(--mobi-primary-text) !important;
        color: var(--text-color);
    }
}   

.activity-become{
    width: 100% !important;
    height: 100%;
    background-color: #EEEEEE;
    flex: 1 0 auto;
    padding: 10px 20px;

    @include media-breakpoint('xs') {
        padding-bottom: 70px !important;
    }

    .activity-search{
        height: 100%;
        background-color: white;
            width: 100%;
        padding: 10px;
        .activity-wrapper{
            margin: -10px;
        }
        .activity-type{
            width: 100%;
            padding: 0 20px;
            .activity-title{
                color: #5A616F;
                font-weight: bold;
            }
            .select-type{
                display: inline-block;
                width: 100%;
                line-height: 60px;
                border: 1px solid var(--border-color);
                border-radius: 5px;
                @include media-breakpoint("xs") {
                    line-height: 32px;
                }
                .activity-type-drow{
                    width: 100%;
                    height: 100%;
                }
            } 
        }

        .activity-privacy{
            width: 100%;
            padding: 0 20px;
            .activity-title{
                color: #5A616F;
                font-weight: bold;
            }
            .select-type{
                display: inline-block;
                width: 100%;
                line-height: 60px;
                border: 1px solid var(--border-color);
                border-radius: 5px;
                @include media-breakpoint("xs") {
                    line-height: 32px;
                }
                .activity-type-drow{
                    width: 100%;
                    height: 100%;
                }
            } 
        }

        .activity-date{
            width: 100%;
            padding: 0 20px;
            .activity-title{
                color: #5A616F;
                font-weight: bold;
            }
            .canlendar-choose{
                .field-datepicker-custom {
                    width: 100%;
                    p-calendar{
                        width: 100%;
                        .ui-calendar{
                            width: 100%;
                            .ui-inputtext{
                                border-bottom-left-radius: 5px !important;
                                border-top-left-radius: 5px !important;
                            }
                            button{
                                border-top-right-radius: 5px !important;
                                border-bottom-right-radius: 5px 5px !important;
                            }
                        }
                    }
                    
                }
                .mat-form-field-underline {
                    border: none;
                }
            }
        }
        .activity-location{
            width: 100%;
            padding: 0 20px;
            .activity-title{
                color: #5A616F;
                font-weight: bold;
            }
            .location-choose{
                .group-choose-location{
                    .activity-location-select{
                        font-size: var(--mobi-primary-text) !important;
                        color: var(--text-color);
                        padding: 0 10px;
                        display: flex;
                        .activity-location-title{
                            width: 35%;
                            margin-top: 10px;
                        }
                        .select-type{
                            display: inline-block;
                            width: 100%;
                            line-height: 40px;
                            line-height: 60px;
                            border: 1px solid var(--border-color);
                            border-radius: 5px;
                            // ngx-material-timepicker{

                            // }
                            @include media-breakpoint("xs") {
                                line-height: 40px;
                                width: 65%;
                            }
                            @media screen and (min-width : 600px){
                                height: 50px;
                            }
                            .activity-type-drow{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .time-slot{
                        margin-top: 30px;
                    }
                }
                .btn-edit{
                    float: right;
                    color: #0a73eb;
                }
            }
        }
        .activity-orther-location{
            background: #F3F3F3;
            border: 0.5px solid var(--border-color);
            border-radius: 8px;

            .customer-information{
                // border: 1px solid #dadada;
                // background-color: #f3f3f3;
                border-radius: 10px;
                padding: 15px;
                margin-top: 10px;
                .title-edit-customer-info {
                    color: #5d6472;
                    margin: 2px;
                    font-weight: bold;
                }
                .form-group-2 {
                    width: 100%;
                    border-radius: 5px;
                    outline: none;
                    margin: auto;
                    opacity: 1;
                    .header-titile{
                        height: 2px;
                        font-size: 12px;
                    }
                    .form-control {
                        border: 1px solid var(--border-color);
                        border-radius: 5px;
                        padding-left: 16pt;
                        margin-top: 10px;
                    }
                    input{
                        width: 100%;
                        height: 40px;
                        outline: none;
                        color: #5A616F;  
                    }
                    
                    .mat-select-content{
                        width:2000px !important;
                        background-color: red !important;
                        font-size: 10px !important;
                    }
                    .input-custom {
                        border-color: var(--border-color);
                        color: #000;
                        &::placeholder {
                            color: #c8cbd1;
                        }
                        
                    }

                }
                .activity-location-select{
                    padding: 0 25px;
                    display: flex;
                    .activity-location-title
                    {
                        width: 55%;
                        margin-top: 10px;
                    }
                    .select-type{
                        display: inline-block;
                        width: 100%;
                        height: 40px;
                        line-height: 60px;
                        border: 1px solid var(--border-color);
                        border-radius: 5px;
                        @include media-breakpoint("xs") {
                            line-height: 36px;
                            width: 70%;
                            min-width: 70%;
                        }
                        @media screen and (min-width : 600px){
                            height: 64px;
                            line-height: 40px;
                            min-width: 70%;
                        }
                        .activity-type-drow{
                            width: 100%;
                            // height: 100%;
                        }
                        .select-time{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                }
                .time-slot{
                    margin-top: 30px;
                }
            }
            .activity-duration{
                padding-top: 0px !important;
            }
            .activity-orther-button{
                padding-bottom: 20px;

                .example-button-row {
                    margin-top: 10px;
                    .btn-color-custom {
                        height: 40px;
                        border: 1px solid #269a3e;
                        width: 45%;
                        border-radius: 5px;
                    }
                    .btn-cancel-activity{
                        color: #269a3e;
                        background: #fff;
                        margin-left: 10px;
                    }
                    .btn-create-activity{
                        background: #269a3e;
                        float: right;
                        color: #fff;
                        margin-right: 10px;
                    }
                    .btn-create-disabled{
                        background: grey !important;
                        pointer-events: none;
                        border: 1px solid var(--border-color);
                    }
                }
            }
        }
        .activity-capacity{
            width: 100%;
            padding: 0 20px;
            .activity-title{
                color: #5A616F;
                font-weight: bold;
            }
            .customer-information{
                .form-group-2 {
                    width: 100%;
                    border-radius: 5px;
                    outline: none;
                    margin: auto;
                    opacity: 1;
                    .form-control {
                        border: var(--border-color) solid 1px;
                        border-radius: 5px;
                        padding-left: 16pt;
                        // margin-top: 10px;
                    }
                    input{
                        width: 100%;
                        height: 40px;
                        outline: none;
                        color: #5A616F;

                    }
                    .input-custom {
                        border-color: var(--border-color);
                        color: #000;
                        &::placeholder {
                            color: #c8cbd1;
                        }
                        
                    }
                    .text-area{
                        width: 100%;
                        height: 128px;
                        border-radius: 5px;
                    }

                }
            }
        }
        .activity-photo{
            position: relative;
            width: 100%;
            padding: 0 22px;
            .activity-title{
                color: #5A616F;
                font-weight: bold;
            }
            .change-photo{
                position: absolute;
                top: 0;
                right: 10px;
                color: #0A73EB;
            }
            .photo-information{
                height: 128px;
                .image-default{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 27px;
                    opacity: 0.5;
                    border-radius: 6px;
                }
                .image-select{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    opacity: 1;
                    border-radius: 6px;
                    // width: 100%;
                    height: 100%;
                }
            }
        }
        .activity-create-button{
            padding: 35px 5px;
            .btn-color-custom {
                height: 48px;
                border: 1px solid #269a3e;
                width: 45%;
                border-radius: 5px;
            }
            .btn-cancel-activity{
                color: #269a3e;
                background: #fff;
                margin-left: 10px;
            }
            .btn-create-activity{
                height: 48px;
                border: 1px solid #269a3e;
                width: 45%;
                border-radius: 5px;
                float: right;
                background: #269a3e;
                color: #fff;
                margin-right: 10px;
            }
            .btn-create-disabled{
                background: grey !important;
                pointer-events: none;
            }
        }
    }

    .button-css {
        text-align: center;
        height: 100%;
        width: 100%;
    }
    
}

app-bottom-navigation {
    display: none;
  
    @include media-breakpoint("xs") {
        display: unset;
    }
}
