@import "src/@fuse/scss/fuse";

.container {
    width: 100%;
    background-color: #DFDFDF;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    @include media-breakpoint('xs') {
        margin-bottom: 20px;
        padding-bottom: 70px;
    }

    .upcoming {
        font-size: 12px;
        color: var(--text-color);
        width: 90%;
        margin: 0 auto;
        height: 100%;
        background-color: white;
        padding-bottom: 10px;
        .back {
            .header {
                color: var(--text-color) !important;
                text-decoration: underline;
            }
        }
        .no-classes{
            text-align: center;
        }
        .img {
            margin-top: 10px;
            padding-bottom: 20px;
            ;

            #logo {
                display: block;
                margin: 0px auto;
                margin-top: 0px;
                object-fit: cover;

            }
        }

        .class {
            width: 100%;

            .inside {
                width: 90%;
                margin: 0 auto;
                display: flex;
                border-radius: 10px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                border: 0px solid var(--border-color);
                -webkit-box-shadow: 0px 3px 16px #00000029 !important;
                -moz-box-shadow: 0px 3px 16px #00000029 !important;
                box-shadow: 0px 3px 16px #00000029 !important;
                // opacity: 0.8;
                margin-top: 15px;
                padding: 10px 0px;
                #left {
                    width: 50%;

                    #img {
                        width: 100%;
                        padding: 15px;
                        object-fit: contain;
                    }

                    #day {
                        padding-left: 15px;
                    }

                    #time {
                        padding-left: 15px;
                        padding-bottom: 10px;
                    }
                }

                #right {
                    width: 50%;

                    .button-view {
                        padding-top: 10px;
                        width: 90%;

                        .view-button {

                            cursor: pointer;
                            background-color: var(--primary-color);
                            color: white;
                            border: 1px solid var(--primary-color);
                            font-size: 12px;
                            padding: 0px 40px 0px 40px;
                        }
                    }

                    #title {
                        color: var(--primary-color);
                        padding-top: 15px;
                        padding-bottom: 3px;
                    }

                    #address {
                        padding-bottom: 3px;
                        // height: 32px;
                    }
                }
            }


        }
    }
}

app-bottom-navigation {
    display: none;
  
    @include media-breakpoint("xs") {
        display: unset;
    }
}