<div style="width: 100%;">
    <div class="terms-conditions-my">

        <div class="header-terms-conditions-my">
            <div class="header-top">
                <img src="../../../../assets/images_doxa/thermomix-logo.png">
    
                <div class="title-right">
                    <p>90 DAYS NEW ADVISOR</p>
                    <p>EARNING PROGRAM (NAEP)</p>
                    <p>Terms & Conditions</p>
                </div>
            </div>
    
            <div class="line"></div>
    
            <div class="header-bottom">
    
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
    
                    <tr class="hd-table">
                        <td>Sales</td>
                        <td>Price‌ ‌(RM)‌</td>
                        <td>Deposit (RM)</td>
                        <td>Payment Required (RM)</td>
                    </tr>
    
                    <tr>
                        <td>0</td>
                        <td>6988</td>
                        <td>2800</td>
                        <td>4188</td>
                    </tr>
    
                    <tr class="td-color">
                        <td>1</td>
                        <td>5250</td>
                        <td>2800</td>
                        <td>2450</td>
                    </tr>
    
                    <tr>
                        <td>2</td>
                        <td>4150</td>
                        <td>2800</td>
                        <td>1350</td>
                    </tr>
    
                    <tr class="td-color">
                        <td>3</td>
                        <td>3500</td>
                        <td>2800</td>
                        <td>700</td>
                    </tr>
    
    
                    <tr>
                        <td>4</td>
                        <td>2450</td>
                        <td>2800</td>
                        <td>-350</td>
                    </tr>
    
                    <tr class="td-color">
                        <td>5</td>
                        <td>1400</td>
                        <td>2800</td>
                        <td>-1400</td>
                    </tr>
    
                    <tr>
                        <td>6</td>
                        <td>FREE</td>
                        <td>2800</td>
                        <td>-2800</td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div class="content-terms-conditions-my">
            <p class="title-term-conditions">Terms and Conditions:</p>
    
            <p>1. Upon signing this Earning Program Application form, the Advisor agrees to attend the ' 2 Days New Advisor
                Training Course' <span style="font-weight: bold;">("New Advisor Training")</span> organised by the Company.
            </p>
            <p>2. The Advisor shall receive one (1) unit of the Thermomix Model 6 <span
                    style="font-weight: bold;">("TM6")</span> upon the Advisor's completion of the New Advisor Training and
                provided that the Company has received the Independent Distributor Agreement signed by the Advisor and the
                following payments and/or documents subject always to the terms and conditions contained herein:</p>
            <p>(a) a Deposit payment of RM2,800.00 by either cash, cheque, online bank transfer or credit card (Admin Fee of
                RM60.00 is applicable for credit card payment); AND</p>
            <p>(b) EITHER :</p>
            <p>(i) the Credit Card portion below duly completed to authorise the Company to deduct the relevant Payment
                Required based on the Table above upon the expiry of the 90 Days Period; OR</p>
            <p>(ii) a post-dated cheque made in favour of the Company for RM4,188.00 <span style="font-weight: bold;">("PD
                    Cheque")</span>; OR</p>
            <p>(iii) a cash amount of RM4,188.00 <span style="font-weight: bold;">("Cash Amount")</span> whereby the Company
                shall deduct from</p>
            <p>the Cash Amount the relevant Payment Required based on the Table above upon the expiry of the 90 Days Period
                and refund the excess to the Advisor.</p>
            <p>3. <span style="font-weight: bold;">"90 Days Period"</span> means a period of ninety (90) days from the date
                of this Application form with an extension of ten (10) days. <span style="font-weight: bold;">"Independent
                    Distributor Agreement"</span> means the Independent Distributor Agreement signed by the Advisor prior to
                this Application form. The words <span style="font-weight: bold;">"Advisor"</span>, <span
                    style="font-weight: bold;">"Company"</span> and <span style="font-weight: bold;">"Sales"</span>have the
                same definition as in the Independent Distributor Agreement.</p>
            <p>4. The Advisor shall purchase the TM6 at the corresponding Price stated in the Table above if the Advisor
                achieves less than six (6) Sales prior to the expiry of the 90 Days Period.</p>
            <p>5. The Company shall refund the Deposit based on the Table above to the Advisor in the event that he Advisor
                achieves six (6) Sales prior to the expiry of the 90 Days Period AND provided always that the Advisor had
                attended the New Advisor Training scheduled by the Company during the 90 Days Period; failing which the
                Company shall deduct the sum of RM500.00 from the Deposit before refunding the balance to the Advisor.</p>
            <p>6.If the Advisor achieves five (5) or less Sales upon th e expiry of the 90 Days Period, then the Company
                shall do one of the following, whichever is applicable :</p>
            <p>(i) submit for processing the relevant Payment Required based on the Table above as authorized by the Advisor
                in this form; OR</p>
            <p>(ii) return the PD Cheque to the Advisor in exchange of the Advisor giving to the Company a replacement
                cheque for the relevant Payment Required based on the Table above. In the event that the Advisor fails to
                exchange the cheques stated above within seven (7) days from the expiry of the 90 Days Period, then the
                Company shall deposit the PD Cheque and refund the excess (if any) to the Advisor upon clearance of the PD
                Cheque; OR</p>
            <p>(iii) deduct from the Cash Amount the relevant Payment Required based on the Table above and refund the
                excess to the Advisor.</p>
            <p>7. For the avoidance of doubt, the Advisor is only entitled to purchase one (1)cr unit of the TM6 under this
                Earning Program according to the corresponding Price stated in the Table above notwithstanding that the
                Advisor may achieve more than six (6) Sales prior to the expiry of the 90 Days Period.</p>
            <p>8. The Advisor shall receive the regular commission according to the current Advisor commission schedule upon
                achieving six (6) Sales or upon the expiry of the 90 Days Period, whichever is earlier. In such an event,
                this Earning Program is deemed as ended.</p>
            <p>9. Payment of the regular commission stated in Paragraph 8 is subject to the deduction of any money owing by
                the Advisor to the Company from this Earning Program.</p>
            <p>10. The sale of the TM6 to the Advisor under this Earning Program does not qualify the Advisor for any
                commission or rewards given by the Company.</p>
            <p>11. The Company reserves its rights to repossess the TM6 and/or commence legal action against the Advisor for
                recovery of the sum(s) owing by the Advisor in the event of the Advisor's breach of the Terms and Conditions
                stated in this Application form.</p>
            <p>12. In the event where the Advisor already owns a TM6 prior to the date of this Application form, the
                following situations shall ensue:</p>
            <p>(a) the terms stated in Paragraphs 2, 4, 5, 6 and 11 stated above shall not apply;</p>
            <p>(b) the Advisor may exercise his entitlement to purchase one (1) unit of the TM6 under Paragraph 7 above
                within thirty (30) days from the expiry of the 90 Days Period provided always that the Advisor had attended
                the New Advisor Training scheduled by the Company during the 90 Days Period AND the corresponding Price
                stated in the Table above shall be paid by the Advisor to the Company;</p>
            <p>(c) in the event that the Advisor achieves six (6) Sales prior to the expiry of the 90 Days Period, the
                Advisor shall receive one (1) new TM6 for free provided that the Advisor had attended the New Advisor
                Training scheduled by the Company during the 90 Days Period.</p>
            <p>13. The Company may accept or reject this Application at its absolute discretion.</p>
            <p>14. The Terms and Conditions stated in this Application form are supplemental and are additional to the
                Independent Distributor Agreement.</p>
        </div>
    </div>

    <app-bottom-navigation></app-bottom-navigation>
</div>