
<div class="terms-and-conditions">

    <div class="body-terms-and-conditions-policy">
        <p id="header-shipping">Thermomix® – Terms and Conditions of Purchase</p>
        <p id="header-shipping">Refund Policy</p>
        
        <p class="term">Full Payment Refund	</p>
        <p>
            Thermomix® Malaysia | True Mix Sdn Bhd, extends various payment options to customers for the purchase of Thermomix®. For Visa or MasterCard credit card payments, full payment refunds are subject to cancellation and refund notice below.
        </p>

        <br>
        <p class="term">Cancellation & Refund Notice</p>
        <p>
            In general, goods purchased are non-refundable. However, the Management will review each application on a case-by-case basis. Administrative fee may be charged to any refund and/or cancellation regardless of payment modes, due to delivery charges.
        </p>

        <p>
            Refund and/or cancellation must be done within TEN (10) working days starting from the day the item is ordered. Goods must be sealed and unopened, with packaging in original condition, and accompanied by a valid receipt.
        </p>

        <br>

        <p class="term">Delivery</p>
        <p>
            Delivery can be arranged to Malaysian local addresses within 5 working days after receipt of payment. Thermomix® Malaysia | True Mix Sdn Bhd reserves the right to charge freight on all deliveries. This fee will be made known to you at the time of placing your order. No deliveries will be made while payment is outstanding.
        </p>

        <p class="term">Your Privacy</p>
        <p>Thermomix® Malaysia | True Mix Sdn Bhd collects, holds and uses information subject to its privacy and credit reporting policies.</p>
        <p>
            Thermomix® Malaysia | True Mix Sdn Bhd may collect information from third parties (such as Independent Thermomix® Advisors). Not providing information may mean Thermomix® Malaysia | True Mix Sdn Bhd cannot provide its products and/or services. By providing information, you agree that Thermomix® Malaysia | True Mix Sdn Bhd may use the information to directly market to you (unless you opt out). Information may be disclosed to recipients in Malaysia, Switzerland, other European countries and the USA.
        </p>
        <br>

        <p class="term">Becoming a Thermomix® Advisor</p>
        <p>
            We know that the best customers often make the best Thermomix® Advisors! As a Thermomix® Advisor, you will receive generous commission on the sale of each machine, ongoing training support, the opportunity to meet new people and the chance to expand your culinary skills!

        </p>
        <p>
            If you would like to share your enjoyment of cooking with the Thermomix® with others, ask your Thermomix® Advisor about starting your own Thermomix® business.
        </p>

        <br>

        <p class="term">Cooling Off Period	</p>
        <p>
            This contract is subjective to a cooling off period of TEN (10) working days. By ticking on “I agree”, you hereby declare that you have read the terms, conditions, and policies and agree to abide by them. Goods must be sealed and unopened, with packaging in original condition, and accompanied by a valid receipt.
        </p>
        <br>
        <p class="term">Thermomix® Warranty	</p>
        <p>
            Thermomix® provides warranty against manufacturing defects when used in accordance with Thermomix® usermanual.
        </p>
        <br>
        <p class="term">Manufacturing Defects</p>
        <p>
            Defects that include but not limited to defective parts generally inaccessible by consumer. 
        </p>
        <br>

        <p class="term">Non-Manufacturing Defects</p>
        <p>Defects that include the following:</p>
        <p>Defects detected after usage</p>
        <p>Defects on parts that are accessible by consumers</p>
        <p>Defects on consumable parts that may be purchased & replaced by consumers General wear and tear</p>
        <p>Mishandling and accidents (including voltage surge) Non-serviceable/consumables</p>

        <br>
        <p>
            *If a defect is discovered at the time of delivery, please do not use the item, keep it in it original packaging and contact your local service centre or Thermomix® Advisor immediately. Warranty is for a period of 24 months for domestic use and 12 months for commercial use; from the date of delivery.
        </p>

        <br>
        
        <p class="term">WHAT IS COVERED BY THE WARRANTY?</p>
        <p>
            Thermomix® warrants the product(s) in the original sales package against defects in materials and workmanship when used in accordance with Thermomix® user manual for a period of TWENTY-FOUR (24) months (domestic usage) / TWELVE (12) months (commercial usage) from the date of delivery.
        </p>

        <br>
        
        <p class="term">WHAT IS NOT COVERED BY THE WARRANTY?</p>
        <p>
            All consumables and/or accessories (such as the Mixing Knife, Mixing Bowl, Spatula, Butterfly Whisk etc) are generally non-serviceable items that go through wear and tear from regular usage. These items are also available as replacement part purchase from the Thermomix® online store. General wear & tear and / or mishandling is not considered manufacturer’s defect(s).
        </p>
        <br>
        <p>
            * If a defect is discovered at the time of delivery, please refrain from using the defective item and keep it in its original packaging. Contact your Thermomix® Advisor or local service centre for replacement.
        </p>
        <p>
            * Thermomix® Malaysia | True Mix Sdn Bhd reserves the right to change the price of the Thermomix® and its components and accessories without notice.  
        </p>






        
    </div>
</div>