<div>
    <h1 matDialogTitle class="title">{{ 'CONFIRM.SELECT_OPTIONS' | translate }}</h1>
    <hr>

    <div mat-dialog-content class="content-dialog">
        <img src="{{storeUrl + image}}">

        <div style="display: block; margin: auto; text-align: center;">
            <p class="text-name">{{name}}</p>
            <p class="text-price">{{price | currency: currency + ' '}}</p>

            <div class="language" *ngFor="let p of properties, let i = index">
                <div class="languageText">
                    <p >{{p.name}}</p>
                </div>
        
                <div id="selectLanguage">
                    <p-dropdown appendTo="body" id="languages" [options]="p.value" placeholder="--  Select {{p.name}}  --" 
                    [(ngModel)]="modelGroups[i]" [ngModelOptions]="{standalone: true}" (onChange)="changeProperties()">
                        <ng-template let-item pTemplate="selectedItem" > 
                            <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                        <ng-template let-language pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div>{{language.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
        </div>

    </div>

    <p *ngIf="!isCheck" style="color: var(--red-color);">Please select properties</p>

    <div mat-dialog-actions class="pt-24-approved">
        <button class="cancel-button-1" mat-button (click)="cancel()">{{ 'CONFIRM.CANCEL' | translate }}</button>
        <button class="ok-button" mat-raised-button (click)="confirm()">{{ 'CONFIRM.OK' | translate }}</button>
        
    </div>
</div>