<div class="contact-us">
    <div class="header-contact">
        <p>Thermomix® Events</p>
        <p>Terms and Conditions</p>
    </div>
    <div class="content-contact">

    
        <p>
            By booking an Event via Thermomix® Malaysia | True Mix Sdn Bhd (referred to as ‘weʼ, ‘usʼ or ‘ourʼ) Online Store, you (‘the Participantʼ) acknowledge that you have read and accepted the following terms and conditions (‘Terms and Conditionsʼ)
        </p>
        <br>
        <p style="font-weight: bold;font-style: italic">1. DEFINITIONS</p>
        <p>
            1.1 ‘Event’ means activities held by us including: 1.1.1 Virtual/Studio/Hands on Cooking Classes; and 1.1.2 Demonstration and Seminar Cooking Classes; 1.2 Dining experience held at various locations.
        </p>

        <br>

        <p style="font-weight: bold;font-style: italic">2. AGE RESTRICTIONS FOR THERMOMIX® EVENTS</p>
        <p>
            2.1 Due to occupational health and safety factors, our Studio/Hands on Cooking Classes are only suitable for Participants aged 18 years and over unless it is specifically stated that the class is suitable for children in the event description of the class on the website.
        </p>
        <p>
            2.2 Our Demonstration and Seminar Cooking Classes are suitable for all ages however, children under the age of 12 years must be accompanied by an adult.
        </p>

        <br>
        <p style="font-weight: bold;font-style: italic">3. ACCEPTANCE OF RISK – THERMOMIX® EVENTS</p>
        <p>
            3.1 As a participant in one of our events, you understand and accept the inherent risks in the preparation and cooking of food at a cooking event.
        </p>
        <p>
            3.2 By attending an event, you agree, to the extent permitted by law, to release, indemnify and hold harmless Thermomix® Malaysia |True Mix Sdn Bhd, and its officers, employees, agents, Advisors, licensors, partners and affiliates from liability for any or all damage, loss, costs, expenses, harm and/or injury that may result from, or occur in connection with: 3.2.1 your use of or connection to this site;
        </p>
        <p>
            3.2.2 your attendance and/or participation at an Event;
        </p>
        <p>
            3.2.3 any material or information that you submit, post, transmit or otherwise make available through this site; and
        </p>
        <p>
            3.2.4 your negligence or misconduct, breach of these Terms and Conditions or violation of any law or the rights of any person.
        </p>

        <br>

        <p style="font-weight: bold;font-style: italic">4. PRICES</p>
        <p>
            4.1 Unless otherwise expressly stated, all amounts payable through our online store are in Malaysia Ringgit and inclusive of GST. For these purposes, the term “GST” has the meaning given to it in the Malaysia Goods and Services Tax Act. 
        </p>
        <p>
            4.2 We reserve the right to change the prices for goods and services in our Online Store at any time before you place an order.
        </p>

        <br>
        <p style="font-weight: bold;font-style: italic">5. ORDERS AND CONFIRMATION OF BOOKIN</p>
        <p>5.1 Order constitutes offer</p>
        <p>
            5.1.1 By placing an order through the Online Store, you make an irrevocable offer to us to purchase the services that you have selected pursuant to these Terms and Conditions. Information contained in this site constitutes an invitation to treat only. No information in this site constitutes an offer by us to supply any services to you – however, we will endeavour to supply your selected services to you.
        </p>
        <p>
            5.1.2 We will not commence processing any order made through the Online Store unless and until:	
        </p>
        <ul>
            <li>payment for the order has been received by us in full; and</li>
            <li>the order has passed our internal validation procedures, which are undertaken in order to verify the bona fides of each order for the purpose of preventing credit card and other fraud.</li>
        </ul>

        <p>
            5.1.3 We reserve the right at our discretion to:		
        </p>

        <ul>
            <li>at any time prior to your order being accepted in accordance with these Terms and Conditions, cancel all or part of your order; and</li>
            <li>at any time:
                <ul>
                    <li>refuse to provide services to you;</li>
                    <li>terminate your access to this site; and/or</li>
                    <li>remove or edit any content on this site.</li>
                </ul>
            </li>
        </ul>

        <p>5.2 Confirmation of Booking</p>
        <p> 5.2.1 We will notify you of the acceptance of your order and confirmation of your booking when we send you a confirmation email.</p>

        <br>
        <p style="font-weight: bold;font-style: italic">6. PAYMENT METHODS AND POLICY</p>
        <p>6.1 Payment for orders placed through the Online Store may be made by credit card (Visa & Mastercard) processed online</p>
        <p>
            6.2 You acknowledge that, to the best of your knowledge and belief, the information provided in the Sales Order Form is correct and complete.
        </p>
        <p>
            6.3 Credit and debit card payments
        </p>
        <p>
            6.3.1 Only VISA/MasterCard are accepted
        </p>
        <p>
            6.3.2 Please note that we may be unable to accept credit cards issued by banks outside of Malaysia in some cases
        </p>
        <p>
            6.4 Security
        </p>
        <p>
            6.4.1 While our payment processing and website hosting providers employ secure technology for transactions with our customers, we will not be responsible for any damages, including consequential losses (whether direct or indirect), that may be suffered by a customer whose credit or debit card or bank account information is used in a fraudulent or unauthorised manner by any person other than us.
        </p>
        <p>
            6.4.2 We may request further information from you, such as a copy of your credit card and/ or other identification documentation, as part of our internal validation procedures. These procedures help protect bank and credit card account holders from online fraud. Until your order has passed our internal fraud prevention checks, your order will remain on pending status. If further information is requested and you do not provide the requested information within such time as we consider appropriate at our discretion, your order will be cancelled and, if your payment has been received, it will be refunded back to you.
        </p>
        
        <br>


        <p style="font-weight: bold;font-style: italic">7. REFUNDS</p>
        <p>7.1 Except as otherwise expressly provided in these Terms and Conditions or as required by law, all amounts paid through this site are non-refundable.</p>
        <br>


        <p style="font-weight: bold;font-style: italic">8. FOOD ALLERGIES AND DIETARY REQUIREMENTS</p>
        <p>8.1 Please make our staff are  aware of any food allergies or dietary requirements you have at the Cooking Class or Event so we can advise you about which foods you should not consume.</p>

        <br>
        <p style="font-weight: bold;font-style: italic">9. GENERAL TERMS AND CONDITIONS </p>
        <p>9.1 Entry into an Event</p>
        <p>9.1.1 To ensure entry into the Event, please:</p>
        <ul>
            <li>bring the confirmation email to the venue as proof of purchase;	</li>
            <li>arrive at least 15 minutes prior to the course commencement time.</li>
        </ul>
        <p>9.1.2 Please note that Participants who arrive more than 15 minutes late may be refused entry into the Event</p>
        <p>9.2 Dress code</p>
        <p>9.2.1 Due to occupational health and safety reasons and the comfort of Participants it is a requirement that closed flat shoes are worn to the Events.</p>
        <p>9.3 Photographs of you</p>
        <p>9.3.1 From time to time, we may take photographs and short videos for marketing purposes. Please advise a staff member if you do not consent to the use of your image or voice for such purposes.</p>
        <p>9.4 Requests to leave</p>
        <p>9.4.1 We reserve the right to require any Participant to leave at any time during the Cooking Class or Event if our staff believe that the Participant is intoxicated, disruptive, offensive to others, dangerous, reckless and /or harmful in any way.</p>
        <p>9.5 Loss and damage</p>
        <p>9.5.1 To the extent permitted by law, we are not responsible for the loss or damage of personal items prior to, during or after an Event.</p>
        <p>9.5.2 As a Participant, you may be held financially responsible for any damage to or loss of property caused by you while on the premises.</p>
        
        
        
        <br>
        <p style="font-weight: bold;font-style: italic">10. VIOLATIONS OF THESE TERMS AND CONDITIONS</p>
        <p>10.1 Without limiting any other remedies available to us at law or in equity, we reserve the right to, without notice, temporarily or indefinitely refuse to provide services to you if: </p>
        <p>10.1.1 you breach any provision of these Terms and Conditions;</p>
        <p>10.1.2 we are unable to verify or authenticate any information that you provide to us; or </p>
        <p>10.1.3 we believe that your actions may cause damage and/or legal liability, to us, any of our customers or suppliers or any other person.</p>
        
        
        <br>
        <p style="font-weight: bold;font-style: italic">11. DISCLAIMER</p>
        <p>11.1 General</p>
        <p>11.1.1 This Online Store is provided strictly on an “as is” basis. To the maximum extent permitted by law, we and our officers, employees, agents, Advisors, licensors, partners and affiliates make no representation, warranty or guarantee as to the reliability, timeliness, quality, suitability, truth, availability, accuracy or completeness of the Online Store or any of its content, and in particular do not represent, warrant or guarantee that:</p>
        <ul>
            <li>the use of this site will be secure, timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data;</li>
            <li>this site will meet your requirements or expectations;</li>
            <li>anything on this site, or on any third-party website referred or linked to in this site, is reliable, accurate, complete or up-to-date;</li>
            <li>the quality of any services, information or other material purchased or obtained through this site will meet any particular requirements or expectations; </li>
            <li>errors or defects will be corrected; or </li>
            <li>this site or the servers that make it available are free of viruses or other harmful components.</li>
        </ul>
        <p>11.2 Variations to these Terms and Conditions</p>

        <p>
            11.2.1 We reserve the right to amend these Terms and Conditions and any other policy on this site at any time in our sole discretion and any such changes will, unless otherwise noted, be effective immediately.	
        </p>
        <p>
            11.2.2 Your continued usage of this site will mean you accept those amendments. We reserve the right, without notice and at our sole discretion, to change, suspend, discontinue or impose limits on any aspect or content of this site or the services offered through this site.	
        </p>
        <p>
            11.2.3 You may only vary or amend these Terms and Conditions by written agreement with us.
        </p>
        <p>
            Please direct any questions regarding our terms and conditions to: Customer Service on +60 3-7804 9326 or by email enquiry@thermomix.com.my 
        </p>

    </div>

    


</div>