<div class="advisor-become" fxLayout="column">
    <div class="advisor-search">
        <div class="advisor-wrapper" >
            <div class="link">
                <span class="dot">●</span>
                <span class = "text">{{ 'BECOME_ADVISOR_DONE.BECOME_AN_ADVISOR' | translate }}</span>
            </div>
        </div> 
        <div class="advisor-not">
            <div>
                <p>{{ 'BECOME_ADVISOR_DONE.SUCCESSFULLY' | translate }}</p>
                <p>{{ 'BECOME_ADVISOR_DONE.WELL_COME_TO_OUR_TEAM' | translate }}</p>
            </div>
            <img src="../../../assets/images_doxa/undraw_positive_attitude_xaae.png" alt="Avatar">
            <div>
                <p>{{ 'BECOME_ADVISOR_DONE.GO_TO_MY_PROFILE_TO_GET_MORE' | translate }}</p>
                <p>{{ 'BECOME_ADVISOR_DONE.INFORMATION' | translate }}</p>
            </div>
            <button routerLink="../my-profile" class="button-profile">{{ 'BECOME_ADVISOR_DONE.GO_TO_MY_PROFILE' | translate }}</button>
        </div>
        
    </div>
    
</div>
