<div class="product-order-history">
    <div class="order-history-content">
        <ng-container *ngIf="!product.is_naep_discount">
            <div id="img-product">
                <img id="" src="{{storageUrl}}{{product.cover_photo_key}}">
            </div>

            <div id="detail-product">
                <div id="name-product">
                    <p id="nameProd">{{ (getTranslation(orderId, product.id) | async) !== ('ORDER.' + orderId + '_' + product.id + '.' + product.id) ? (getTranslation(orderId, product.id) | async) : product.productName}}</p>
                    <div *ngIf="isShowListedPrice" id="oldPrice">
                        {{product.listedPrice | currency: product.currencyCode + ' ':'symbol':''}}</div>
                    <div *ngIf="product.price" id="newPrice">
                        <b>{{product.price | currency: product.currencyCode + ' ':'symbol':''}}</b></div>
                </div>
                <div id="another-detail">
                    <div *ngIf="product.properties">
                        <p *ngFor="let property of product.properties"><span
                                style="text-transform:capitalize;">{{property.name}}: </span>{{property.value}}</p>
                    </div>
                    <div *ngIf="inshowCustomerInfo" >
                        <ng-container *ngIf="product?.customerName">
                            <div class="customer-row">
                                <div>{{ 'PRODUCT.CUSTOMER_NAME' | translate }}:</div>
                                <div>{{product?.customerName}}</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="product?.customerEmail">
                            <div class="customer-row">
                                <div>{{ 'PRODUCT.CUSTOMER_EMAIL' | translate }}:</div>
                                <div>{{product?.customerEmail}}</div>
                            </div>
                        </ng-container>
                    </div>
                    
                    <div *ngIf="showAdvisor === true">
                        <p *ngIf="isShow">{{ 'PRODUCT.ADVISOR_ID' | translate }}: {{product.advisorIdNumber}}</p>
                        <p *ngIf="isShow">{{ 'PRODUCT.ADVISOR_NAME' | translate }}: {{product.preferredName}}</p>
                    </div>
                    <p *ngIf="hasSerialNumber">Serials Number:</p>
                    <p *ngFor="let serialNumber of product.warranty">{{serialNumber}}</p>
                    <p *ngIf="product.quantity"><b>x {{product.quantity}}</b></p>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="product.is_naep_discount">
            <div id="img-product">
                <img id="" src="{{storageUrl}}{{product.cover_photo_key}}">
            </div>

            <div id="detail-product">
                <div id="name-product">

                    <p id="nameProd">{{ (getTranslation(orderId, product.id) | async) !== ('ORDER.' + orderId + '_' + product.id + '.' + product.id) ? (getTranslation(orderId, product.id) | async) : product.productName}}</p>

                    <div *ngIf="product.is_deposit" >
                        <div class="price-naep">{{'PRODUCT.PRICE' | translate}} {{product.listedPrice | currency: product.currencyCode + ' ':'symbol':''}}</div>
                        <div class="price-naep">{{'PRODUCT.DEPOSIT' | translate}} {{product.naep_discount_price | currency: product.currencyCode + ' ':'symbol':''}}</div>
                    </div>

                    <div *ngIf="product.is_kit">
                        <div class="price-naep">{{'PRODUCT.PRICE' | translate}} {{(product.promotionalPrice === null || product.promotionalPrice === undefined) ? product.listedPrice : product.promotionalPrice | currency: product.currencyCode + ' ':'symbol':''}}</div>
                    </div>

                </div>
                <div id="another-detail">
                    <div *ngIf="product.properties">
                        <p *ngFor="let property of product.properties"><span
                                style="text-transform:capitalize;">{{property.name}}: </span>{{property.value}}</p>
                    </div>
                    <p *ngIf="product.quantity"><b>x {{product.quantity}}</b></p>
                </div>
            </div> 
        </ng-container>
    </div>
    
    <div id="detail-gift">
        <div *ngIf="this.single_full_paymt_gifts">
            <mat-card *ngFor="let gift of this.single_full_paymt_gifts">
                <mat-card-header>
                    <mat-card-title class="card-title">
                        {{FULL_PAYMENT_GIFT}}
                    </mat-card-title>
                    <mat-card-subtitle class="card-subtitle">
                        {{gift.name}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="card-content">
                    x {{gift.quantity}}
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="this.online_bank_transfer_gifts">
            <mat-card *ngFor="let gift of this.online_bank_transfer_gifts">
                <mat-card-header>
                    <mat-card-title class="card-title">
                        {{ONLINE_BANK_TRANSFER_PAYMENT_GIFT}}
                    </mat-card-title>
                    <mat-card-subtitle class="card-subtitle">
                        {{gift.name}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="card-content">
                    x {{gift.quantity}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
