<mat-toolbar class="bottom-navigation">
    <div class="icon-nav" routerLink='/store'>
        <mat-icon>store</mat-icon>
        <p>Store</p>
    </div>
    <div class="icon-nav" routerLink='/shopping-bag'>
        <mat-icon>shopping_cart</mat-icon>
        <p>Cart</p>
    </div>
    <div class="icon-nav" routerLink='/order-history'>
        <mat-icon>assignment</mat-icon>
        <p>My Order</p>
    </div>
    <div class="icon-nav" style="border-right: 0.2px solid var(--border-color);" routerLink='/my-profile'>
        <mat-icon>account_circle</mat-icon>
        <p>My Account</p>
    </div>
</mat-toolbar>
