<div id="forgot" fxLayout="column">
    <div id="forgot-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="forgot-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div id="FormTitle">
                <div class="formLogo">
                    <img src="assets/images_doxa/thermomix-logo.png">
                </div>
                <div class="fromLanguage">
                    <button mat-icon-button [matMenuTriggerFor]="languagues">
                        <mat-icon>language</mat-icon>
                        <p style="margin: 0px; font-size: var(--mobi-label);">{{showLanguage}}</p>
                    </button>
                </div>
                <mat-menu  #languagues="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item (click)="getLanguge('en')">English</button>
                    <button mat-menu-item (click)="getLanguge('en')">Chinese</button>
                </mat-menu>
            </div>
            <div *ngIf="!isValidToken">
                <div id="forgotTitle">
                    <!-- <button mat-icon-button [routerLink]="['/login']">
                    <mat-icon>chevron_left</mat-icon>
                </button> -->
                    <p class="forgotText">{{ 'FORGOT_PASSWORD.FORGOT_PASSWORD' | translate }}</p>
                </div>
                <div class="forgotLogo">
                    <img src="assets/images_doxa/undraw_my_password_d6kg.svg" alt="">
                </div>
                <div *ngIf="!isEmailSent && !isEmailSentError && !isTokenVerifyError">
                    <div class="forgotDirection">
                        <p>{{ 'FORGOT_PASSWORD.FORGOT_FAIL1' | translate }}</p>
                        <p>{{ 'FORGOT_PASSWORD.FORGOT_FAIL2' | translate }}</p>
                    </div>
                    <form action="#" class="forgotForm" [formGroup]="forgotForm" (ngSubmit)="onSubmit('forgot')">
                        <div>
                            <input type="text" id="email" class="inputForm" formControlName="email"
                                placeholder="e.g cecilia.chen@gmail.com">
                        </div>

                        <div class="btnforget">
                            <button mat-button class="btncancel" (click)="backToLogin()"
                                routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.CANCEL' | translate }}</button>
                            <button mat-button class="btnreset" type="submit" [disabled]="forgotForm.invalid"
                            >{{ 'FORGOT_PASSWORD.RESET_PASSWORD' | translate }}</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="(isEmailSent && !isEmailSentError) || isTokenVerifyError">
                    <div class="forgotDirection submitResult">
                        <p>{{serverResponseMsg}}</p>
                    </div>
                    <div class="btnforget">
                        <button mat-button class="btnreset" style="float: none;" (click)="backToLogin()"
                            routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</button>
                    </div>
                </div>

                <!-- check show -->
                <div *ngIf="!isShowCheck">
                    <div *ngIf="!isEmailSent && isEmailSentError">
                        <div class="forgotDirection submitResult">
                            <p>{{serverResponseMsg}}</p>
                        </div>
                        <div class="btnforget">
                            <button mat-button class="btncancel" (click)="backToLogin()"
                                routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.CANCEL' | translate }}</button>
                            <button mat-button class="btnreset" (click)="retryRequest()"
                                routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.RETRY' | translate }}</button>
                        </div>
                    </div>
                </div>

                <!-- check show -->
                <div *ngIf="isShowCheck">
                    <div *ngIf="!isEmailSent && isEmailSentError">
                        <div class="forgotDirection submitResult">
                            <p>{{serverResponseMsg}}</p>
                        </div>
                        <div class="btnforget">
                            <button mat-button class="btnok" (click)="backToLogin()"
                                routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.OK' | translate }}</button>
                            <button mat-button class="btnreset" (click)="retryRequest()"
                                routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.RETRY' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isValidToken">
                <div id="forgotTitle">
                    <!-- <button mat-icon-button [routerLink]="['/login']">
                                    <mat-icon>chevron_left</mat-icon>
                                </button> -->
                    <p class="forgotText">{{ 'FORGOT_PASSWORD.RESET_PASSWORD' | translate }}</p>
                </div>
                <div class="forgotLogo">
                    <img src="assets/images_doxa/undraw_my_password_d6kg.svg" alt="">
                </div>
                <div *ngIf="!isPasswordReset && !isPasswordResetError">
                    <div class="forgotDirection">
                        <p>{{ 'FORGOT_PASSWORD.ENTER_NEW_PASSWORD' | translate }}</p>
                    </div>
                    <form action="#" class="forgotForm" [formGroup]="resetForm" (ngSubmit)="onSubmit('reset')">
                        <div class="inputFormPadding">
                            <input type="password" class="inputForm" placeholder="{{ 'FORGOT_PASSWORD.NEW_PASSWORD' | translate }}"
                                formControlName="newPassword" />
                        </div>
                        <div
                            *ngIf="resetForm.get('newPassword').hasError('required') && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
                            <app-alert>
                                <p>{{ 'FORGOT_PASSWORD.NEW_PASSWORD_REQUIRED' | translate }}</p>
                            </app-alert>
                        </div>
                        <div
                            *ngIf="resetForm.get('newPassword').hasError('minlength') && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
                            <app-alert>
                                <p>{{ 'FORGOT_PASSWORD.PASSWORD_LEAST' | translate }}</p>
                            </app-alert>
                        </div>
                        <div class="inputFormPadding">
                            <input type="password" class="inputForm" placeholder="{{ 'FORGOT_PASSWORD.CONFIRM_PASSWORD' | translate }}"
                                formControlName="confirmPassword" />
                        </div>
                        <div
                            *ngIf="resetForm.get('confirmPassword').hasError('required') && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
                            <app-alert>
                                <p>{{ 'FORGOT_PASSWORD.COFIRM_PASSWORD_REQUIRED' | translate }}</p>
                            </app-alert>
                        </div>
                        <div
                            *ngIf="resetForm.get('confirmPassword').hasError('mustMatch') && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
                            <app-alert>
                                <p>{{ 'FORGOT_PASSWORD.COFIRM_PASSWORD_NOT_MATCH' | translate }}</p>
                            </app-alert>
                        </div>

                        <div class="btnforget">
                            <button mat-button class="btncancel" (click)="backToLogin()"
                                routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.CANCEL' | translate }}</button>
                            <button mat-button class="btnreset" type="submit" [disabled]="resetForm.invalid"
                            >{{ 'FORGOT_PASSWORD.RESET_PASSWORD' | translate }}</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="isPasswordReset || isPasswordResetError">
                    <div class="forgotDirection submitResult">
                        <p>{{serverResponseMsg}}</p>
                    </div>
                    <div class="btnforget">
                        <button mat-button class="btnreset" style="float: none;" (click)="backToLogin()"
                            routerLinkActive="router-link-active">{{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="FormFooter">{{ 'FORGOT_PASSWORD.POWERED_BY_DOXA' | translate }}</h2>
    </div>

</div>
