.infos{
    width: 90%;
    margin: 0 auto;
    // font-size: 12px;
    margin-left: 14px;
    #p{
        margin-top: -10px;
    }
}

.messages , .phone{
    display: flex;
    // font-size: 12px ;
    width: 88%;
    margin: 0 auto;
    // background-color: cyan;
    position: relative;
    margin-bottom: 10px;
    #icons {
        display: block;
        padding: auto;
        margin: auto 0;
    }

    #card {
        // position: absolute;
        font-size: smaller;
        height: 48px;
        width: 85% !important;
        background-color: var(--form-background);
        // -webkit-box-shadow: 0px 3px 16px #00000029 !important;
        // -moz-box-shadow: 0px 3px 16px #00000029 !important;
        // box-shadow: 0px 3px 16px #00000029 !important;
        // opacity: 0.8;
        border-radius: 8px;
        margin-left: auto;

    }
}