<div class="checkout-success">
<div class="content">
  <p class="success">{{'CHECK_OUT.ORDER_SUCCESS' | translate}}</p>
  <img src="../../../../assets/images/payment/undraw_celebration_0jvk.png">
  
  <p class="congrat">{{'CHECK_OUT.CONGRAT' | translate}}</p>
  <p class="text" style="padding-left: 45px; padding-right: 45px;" >{{'CHECK_OUT.TEXT1' | translate}}</p> 
  <p  class="text" style="padding-left: 40px;padding-right: 40px;">
    {{'CHECK_OUT.TEXT2' | translate}} #{{uuid}} {{'CHECK_OUT.TEXT3' | translate}}  </p> 
 
</div>
</div>