<div class="refund-policy">

    <div class="body-refund">
        <p class="header-refund">Thermomix® – Terms and Conditions of Purchase</p>
        
        <p class="header-refund">Refund policy</p>

        <div style="text-align: justify;">
            <p style="font-weight: 600; font-style: italic;">Full Payment Refund</p>
            <p>
                Thermomix® Malaysia | True Mix Sdn Bhd, extends various payment options to customers for the purchase of Thermomix®. For Visa or MasterCard credit card payments, full payment refunds are subject to cancellation and refund notice below.
            </p>


            <p style="font-weight: 600; font-style: italic;">Cancellation & Refund Notice</p>
            <p>
                In general, goods purchased are non-refundable. However, the Management will review each application on a case-by-case basis. Administrative fee may be charged to any refund and/or cancellation regardless of payment modes, due to delivery charges.
            </p>

            <p>
                Refund and/or cancellation must be done within TEN (10) working days starting from the day the item is ordered. Goods must be sealed and unopened, with packaging in original condition, and accompanied by a valid receipt.
            </p>

            <p style="font-weight: 600; font-style: italic;">Delivery</p>
            <p>
                Delivery can be arranged to Malaysian local addresses within 5 working days after receipt of payment. Thermomix® Malaysia | True Mix Sdn Bhd reserves the right to charge freight on all deliveries. This fee will be made known to you at the time of placing your order. No deliveries will be made while payment is outstanding.
            </p>

            <p style="font-weight: 600; font-style: italic;">Your Privacy</p>
            <p>
                Thermomix® Malaysia | True Mix Sdn Bhd collects, holds and uses information subject to its privacy and credit reporting policies (https://Thermomix®.com.my/privacy-policy/). Thermomix® Malaysia | True Mix Sdn Bhd may collect information from third parties (such as Independent Thermomix® Advisors). Not providing information may mean Thermomix® Malaysia | True Mix Sdn Bhd cannot provide its products and/or services. By providing information, you agree that Thermomix® Malaysia | True Mix Sdn Bhd may use the information to directly market to you (unless you opt out). Information may be disclosed to recipients in Malaysia, Switzerland, other European countries and the USA.
            </p>


            <p style="font-weight: 600; font-style: italic;">Becoming a Thermomix® Advisor</p>
            <p>
                We know that the best customers often make the best Thermomix® Advisors! As a Thermomix® Advisor, you will receive generous commission on the sale of each machine, ongoing training support, the opportunity to meet new people and the chance to expand your culinary skills!
            </p>
            <p>
                If you would like to share your enjoyment of cooking with the Thermomix® with others, ask your Thermomix® Advisor about starting your own Thermomix® business.
            </p>

            <p style="font-weight: 600; font-style: italic;">Cooling Off Period</p>
            <p>
                This contract is subjective to a cooling off period of TEN (10) working days. By ticking on “I agree”, you hereby declare that you have read the terms, conditions, and policies and agree to abide by them. Goods must be sealed and unopened, with packaging in original condition, and accompanied by a valid receipt. 
            </p>

        </div>
    </div>

</div>