<div class="privacy-policy">
    <div class="body-privacy">
        <!-- <div style="font-size: 30px; font-weight: bold; color: #07512E; text-align: center;">PRIVACY POLICY</div> -->
        <p id="header-refund" style="font-weight: 600;">Privacy policy</p>
        <div style="text-align: justify;"> 
            <p>Personal Data Protection Notice</p>
            <p>
                With reference to the Personal Data Protection Act 2010 (hereinafter referred to as ‘the Act’) 
                that was enforced on 15th November 2013, Mix Sdn Bhd is ensuring that we are compliant with this Act.
                Pursuant to the requirements of the Act, we are now issuing this Notice to all our Customers, 
                Independent Distributors, Suppliers or Service Providers detailing the management of your personal at 
                a that was previously collected.
            </p>
            <br>
            <p style="font-style: italic; font-weight: 600;">1. Existing Personal Data </p>
            <p>
                True Mix Sdn Bhd will process your personal data as listed, but not limited to, below,
                which has been provided by you to True Mix Sdn Bhd for the furtherance of your direct selling transactions.
            </p>
            <p>* Name, Job details (designation, company), etc</p>
            <p>* Age, gender, date of birth, MyKad number, etc</p>
            <p>* Race, nationality, etc</p>
            <p>* Contact information, address, phone number, email address, etc</p>
            <p>* Marital status, family details (e.g.: spouse’s details)</p>
            <p>* Photographs given to True Mix Sdn bus and/or taken at official company functions, etc (collectively hereinafter referred to as ‘the personal data’)</p>
            
            <br>

            <p style="font-style: italic; font-weight: bold;">2. Usage of Data	</p>
            <p>True Mix Sdn Bhd will use and/or process the personal data for, amongst others, the following reasons:</p>
            <p>*  Inform you of new promotions	</p>
            <p>*  Disbursement of Commissions earned</p>
            <p>*  To communicate with you for news updates or respond to your enquiries</p>
            <p>*  To process your payments to us</p>
            <p>*  To administer your participation in our programmes/events/workshops or other legitimate activities</p>
            
            <br>
            
            <p style="font-style: italic; font-weight: bold;">3. Disclosure of your Personal Data	 </p>
            <p>True Mix Sdn Bhd will keep your personal data confidential and will not be disclosed for any purpose 
                other than the purpose for which the personal data was collected at the time of collection. However, 
                on certain circumstances, your personal data may be disclosed to any other parties as stated or required by the Act.
            </p>
            <br>
            <p style="font-style: italic; font-weight: bold;">4. Security</p>
            <p>True Mix Sdn Bhd shall keep and process your personal data in a secure manner, where practicable,
                 in accordance with the applicable laws and regulations to prevent the unauthorised or unlawful 
                 proceedings of your personal data including loss, misuse, modification, unauthorised or accidental 
                 access or disclosure, alteration or destruction.
            </p>
            <br>
            <p style="font-style: italic; font-weight: bold;">5. Retention of Data</p>
            <p>
                The personal data processed shall not be kept longer than is necessary after termination of contract/agreement 
                between ourself and True Mix Sdn Bhd. True Mix Sdn Bhd shall take all reasonable steps to ensure that all personal
                data is destroyed or permanently deleted if it is no longer required for the purpose for which it was to be processed.
            </p>
            <br>
            <p style="font-style: italic; font-weight: bold;">6. Access and Correction to your Personal Data</p>
            <p>
                If you would like to access, make any enquiries or change your personal data, you may contact 
                Personal Data Protection Officer at +603 7804 9326 or fax: +603 7806 2463.
            </p>
            <br>
            <p style="font-weight: bold;">Cookies</p>
            <p>
                Thermomix® Malaysia | True Mix Sdn Bhd uses cookies to record the preferences of visitors, 
                to enable us to optimise the design of our web site. Cookies are small files which are stored 
                on your hard drive. They ease navigation, and increase the user-friendliness of a web site. 
                Cookies also help us to identify the most popular sections of our web site. This enables us to 
                provide content that is more accurately suited to your needs, and in so doing improve our service. 
                Cookies can be used to determine whether there has been any contact between us and your computer 
                in the past. Only the cookie on your computer is identified. Personal details can be saved in 
                cookies, provided that you have consented to this, for example, in order to facilitate secure 
                online access so that you not need to enter your user ID and password again.
            </p>
            <p>
                Most browsers automatically accept cookies. You can prevent cookies from being stored on your hard 
                drive by setting your browser to not accept cookies. The exact instructions for this can be found 
                in the manual for your browser. You can delete cookies already on your hard drive at any time. 
                If you choose not to accept cookies, you can still visit our website, however this may result in 
                a reduced availability of the services provided by our web site.
            </p>
            <br>
            <p style="font-weight: bold;">Refund Policy</p>
            <br>
            
            <p style="font-style: italic;font-weight: bold;">1 TERMS</p>
            <p>
                1.1 These terms and conditions apply to the use of this website and any pages or materials contained on this website. 
                These terms and conditions do not apply to Cookidoo®.
            </p>

            <p>
                1.2 In using this website, you agree to be bound by these terms and conditions. If you do not agree to these terms and conditions, 
                you must refrain from using this website.
            </p>
            <p>
                1.3 In these terms and conditions, the expressions ‘weʼ, ‘usʼ and ‘ourʼ are a reference to 
                True Mix Sdn Bhd located at 5, Jalan PJU 3/46, Sunway Damansara, 47810 Petaling Jaya, Selangor, Malaysia.
            </p>
            
            <br>
                
            <p style="font-style: italic;font-weight: bold;">2 AMENDMENTS TO TERMS AND CONDITIONS	</p>
            <p>
                We reserve the right to amend these terms and conditions from time to time. Amendments will take immediate effect upon notification on this website. 
                Your continued use of this website following such notification will be taken by us to represent your agreement to be bound by the terms and conditions as amended.
            </p>

            <br>

            <p style="font-style: italic;font-weight: bold;">3 DISCLAIMER</p>
            <p>
                3.1 We do not accept responsibility for any loss or damage, howsoever caused (including through negligence) which you may directly or indirectly sustain or incur in 
                connection with or as a result of your use of this website or any linked website or reliance upon any information contained on or accessed through this website.
            </p>
            <p>
                3.2 To the extent permitted by law, condition, warranty or representation which would otherwise be implied into these terms and conditions is hereby excluded. 
                Any liability we may have to you under legislation in respect of any non-excludable warranty or representation is limited where permitted to supplying the services 
                again or the payment of the cost of having the services supplied again, at our option.
            </p>
            <br>

            <p style="font-style: italic;font-weight: bold;">4 EXCEPTION TO DISCLAIMER</p>
            <p>
                This disclaimer set out in these terms and conditions does not attempt or purport to exclude liability arising under statute if, and to the extent, such liability cannot be lawfully excluded.
            </p>

            <br>
            <p style="font-style: italic;font-weight: bold;">5 SPECIFIC WARNINGS	</p>
            <p>
                5.1 You must ensure that your access to and use of this website is not illegal or prohibited by laws which apply to you.
            </p>
            <p>
                5.2 You must take your own precautions to ensure that the process which you employ for accessing this website does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system. For the removal of doubt, we do not accept responsibility for any interference or damage to your own computer system which arises in connection with or as a result of your use of this website or any linked website.
            </p>
            <p>
                5.3 Whilst we have no reason to believe that any information contained on this website is inaccurate, and we use all reasonable endeavours to maintain the accuracy of information contained on this website, we do not warrant the accuracy, adequacy or completeness of such information, nor do we undertake to keep this website updated. We do not accept responsibility for any loss or damage suffered, sustained or incurred as a result of or in connection with your reliance upon the accuracy or currency of information contained on this website.
            </p>
            <p>
                5.4 We do not give you any assurances that any information contained on this website will be suitable for your purposes or that such information will be error-free. You agree that you do not rely on any such information or its availability and that any reliance you make will be on your own independent assessments with the aid of qualified independent advice.
            </p>
            <br>
            <p style="font-style: italic;font-weight: bold;">6 RELATIONSHIP WITH VORWERK® INTERNATIONAL</p>
            <p>
                We are authorised by Vorwerk® International Strecker & Co (Vorwerk®) to use under licence the “Thermomix®” brand and intellectual property on the internet. “Thermomix®” is the trade name and the registered trademark and servicemark of Vorwerk®, as are certain other trademarks and servicemarks used by us on this website under Vorwerk®ʼs control.
            </p>
            <br>
            <p style="font-style: italic;font-weight: bold;">7 INTELLECTUAL PROPERTY RIGHTS</p>
            <p>
                Copyright in this website (including all text, graphics, logos, icons, sound recordings and software) is owned or licensed by us from Vorwerk® or a related entity of Vorwerk®. Other than for the purposes of, and subject to the conditions prescribed under, the Trade Marks Act 1976 and the Trade Marks Regulations 1997 and similar legislation which applies in your location, and except as expressly authorised by these terms and conditions, you may not in any form or by any means:
            </p>
            <p>
                7.1 adapt, reproduce, store, distribute, print, display, perform, publish or create any derivative works from any part of this website; or
            </p>
            <p>
                7.2 commercialise any information, products or services obtained from any part of this website, without our prior written permission, which may be granted or withheld at our absolute discretion.
            </p>
            <br>
            <p style="font-style: italic;font-weight: bold;">8 RESTRICTED USE</p>
            <p>
                Unless we agree otherwise in writing, you are provided with access to this website only for your personal use. You are authorised to print a copy of any information contained on this website for your personal use (unless such printing is expressly prohibited). Without limiting the foregoing, you may not without our prior written permission (which may be granted or withheld at our absolute discretion) on sales information obtained from this website.
            </p>
            <br>
            <p style="font-style: italic;font-weight: bold;">9 THIRD PARTY WEBSITES</p>
            <p>
                9.1 This website may contain links to other websites (“third party websites”). The links are provided for convenience only and may not remain current or be maintained.
            </p>
            <p>
                9.2 We are not responsible for the content or privacy practices associated with third party websites.
            </p>
            <p>
                9.3 Our links with third party websites should not be construed as an endorsement, approval or recommendation by us of the owners or operators of the third party websites, 
                or of any information, graphics, materials, products or services referred to or contained on the third party websites, unless and to the extent stipulated to the contrary.
            </p>

            <br>
            <p style="font-style: italic;font-weight: bold;">10 PRIVACY POLICY	</p>
            <p>
                We undertake to comply with the terms of our privacy policy which is set out above.
            </p>
            <br>
            <p style="font-style: italic;font-weight: bold;">11 SECURITY OF INFORMATION	</p>
            <p>
                Whilst we use our reasonable endeavours to protect the security of transmission of information over the Internet, we do not guarantee or warrant that any transmission of any data over 
                the Internet as totally secure. Accordingly, any information which you transmit to us is transmitted at your own risk. Once we receive your transmission, we will take reasonable steps 
                to preserve the security of such information.
            </p>
            <br>

            <p style="font-style: italic;font-weight: bold;">12 TERMINATION OF ACCESS		</p>
            <p>
                We may terminate your access to our website at any time without notice. Our disclaimer will survive the termination of access.
            </p>
            <br>
            <p style="font-style: italic;font-weight: bold;">13 GOVERNING LAW	</p>
            <p>
                These terms and conditions are governed by the laws in force in Malaysia. 
            </p>
        </div>
    </div>
</div>