<div id="checkoutdetail" fxLayout="column" *ngIf="!loading">
  <div id="checkoutdetail-wrapper" fxLayout="column" fxLayoutAlign="">
    <div id="link">
        <app-title [type]="title" [message]="'CHECK_OUT.CHECK_OUT'">
        </app-title>
    </div>

    <div *ngIf="is_advisor && !is_redemption_cart">
      <div style="margin-top:10px" fxLayout="row" fxLayoutAlign="" class="buy_checkbox">
        <mat-checkbox (change)="checkCheckBoxvalue($event)" [(ngModel)]="is_buy_for_customer" name="terms" aria-label="I read and accept" required color="primary" #Terms>
            <span style="font-size: 14px;">{{ 'CHECK_OUT.BUY_FOR' | translate }}</span>
        </mat-checkbox>
      </div>
      <div class="terms" fxLayout="row" fxLayoutAlign="" class="buy_checkbox" *ngIf="is_buy_for_customer">
        <mat-checkbox (change)="checkCustomerHasAccount($event)" [(ngModel)]="is_has_account"  name="terms" aria-label="I read and accept" required color="primary" #Terms>
            <span style="font-size: 14px;">{{ 'CHECK_OUT.HAS_ACCOUNT' | translate }}</span>
        </mat-checkbox>
      </div>
    </div>


    <div *ngIf="is_has_account" novalidate class="customer-infor-form" [formGroup]="customerInformation"
      style="margin-top:10px">
      <div class="form-group">
        <div *ngIf="!edit_customer_information_active">
          <br>
          <span class="bold-text">{{ 'CHECK_OUT.CUSTOMER_INFORMATION' | translate }}</span>
          <a class="edit-link" *ngIf="customerContactList != null"
          (click)="editChoose()">{{ 'CHECK_OUT.EDIT' | translate }}</a>
          <div *ngIf="!is_choose_add_new">
            <p >{{ 'CHECK_OUT.CONTACT_LIST' | translate }}</p>
            <p-dropdown [options]="contact_list" (onChange)="getValue($event)"  filter="true"  class="area-dropdown" [style]="{'width':'100%'}"  optionLabel="first_name" placeholder="Search by Name as in IC"></p-dropdown>
          </div>
         

          <p *ngIf="!is_choose_contact_list && !is_choose_add_new" >{{ 'CHECK_OUT.OR' | translate }}</p>

          <button *ngIf="!is_choose_contact_list"  mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" (click)="showAddNewCustomer()"
                      >
                      {{ 'CHECK_OUT.ADD_NEW' | translate }}
          </button>
          <div *ngIf="customerContactList == null && is_summit_check_out">
            <p style="color:  'red';"> {{ 'CHECK_OUT.PLEASE' | translate }}</p>
          </div>
          <div *ngIf="is_show_add_new_customer">
            <p>{{ 'CHECK_OUT.MAKE_SURE' | translate }} <span (click)="inviteToCreateAccount()" style="color:var(--link-color); text-decoration: underline;cursor: pointer;">{{ 'CHECK_OUT.HERE' | translate }}</span> </p>
            <p>{{ 'CHECK_OUT.CUSTOMER_EMAIL' | translate }}</p>
            <input type="text" matInput [(ngModel)]="email_add_new" (input)="checkValidEmail()"  [ngModelOptions]="{standalone: true}" placeholder="Email.doxa@gmail.com" style="border: solid 1px #a6a6a6; border-radius: 8px;">
            <button mat-raised-button color="accent" (click)="getNewCustomer()" [ngClass] = "is_valid_email_add_new ? 'submit-button':'submit-button_disable'"  style="width:50%" aria-label="CREATE AN ACCOUNT"
                        >
                        {{ 'CHECK_OUT.SUBMIT' | translate }}
            </button>

            <div *ngIf="is_show_invalid_add_new">
              <p style="color:  'red';">{{ 'CHECK_OUT.ACC_NOT_FOUND' | translate }}</p>
            </div>

          </div>
         
          
          <div *ngIf="customerContactList != null">
            <p>{{customerContactList.first_name}}</p>
            <p>{{ 'CHECK_OUT.EMAIL' | translate }}: {{customerContactList.email}}</p>
            <p>{{ 'CHECK_OUT.PHONE' | translate }}: (+{{customerContactList.phone_dial_code}}) {{customerContactList.phone_number}} </p>
          </div>
            
        </div>
      </div>
    </div>

    <!--Choose delivery options-->
    <div class="choose-delivery-options">
      <p class="delivery-opt-title">{{ 'CHECK_OUT.CHOOSE_DELIVERY_OPTION' | translate }}:</p>
      <mat-radio-group (change)="onChange($event)" class="group-choose-delivery" name="delivery"
        aria-label="Select an option delivery">
        <div class="self-collect-free">
          <mat-radio-button (change)="checkSelfCollect($event)" value="1" [checked]="isDefaultSelfCollect">
            <p *ngIf="nation_code == 'MY'">{{ 'CHECK_OUT.SELF_COLLECT_MY' | translate }}
              <br>
              <span>{{ 'CHECK_OUT.HOURS_ONLY_MY' | translate }}</span>
            <p>

            <p *ngIf="nation_code == 'SG'">{{ 'CHECK_OUT.SELF_COLLECT_SG' | translate }}
              <br>
              <span>{{ 'CHECK_OUT.HOURS_ONLY_SG' | translate }}</span>
            <p>              
          </mat-radio-button>
          <div *ngIf="checkDay" style="margin-top: 10px; margin-left: 5px;">
            <mat-error class="error-message">
              {{messageMissDay}}
            </mat-error>
          </div>
        </div>

        <!-- check hidden by counrier -->
        <div class="by-counrier" *ngIf="checkOffice">
          <mat-radio-button class="button" (change)="checkDeliveryByCounrier($event)" value="2" [checked]="!isDefaultSelfCollect">
            <div id="top" *ngIf="nation_code == 'MY'">{{ 'CHECK_OUT.BY_COUNRIER_MY' | translate }} <br class="break-line-mobi"></div>
            <div id="top" *ngIf="nation_code == 'SG'">{{ 'CHECK_OUT.BY_COUNRIER_SG' | translate }} <br class="break-line-mobi"></div>
            <!-- <div id="bottom" *ngIf="nation_code == 'MY'">{{'CHECK_OUT.DELIVERY_MUST_BE_DOMESTIC_ONLY_MY' | translate}}</div> -->
            <!-- <div id="bottom" *ngIf="nation_code == 'SG'">{{'CHECK_OUT.DELIVERY_MUST_BE_DOMESTIC_ONLY_SG' | translate}}</div> -->
          </mat-radio-button>

          <!-- <input class="checkDeliveryAddress" disabled *ngIf="valueCheck"
                type="text" id="search-email-input" placeholder={{checkDeliveryAddress}}> -->
          <div *ngIf="valueCheck" class="checkDeliveryAddress">
            <mat-error class="error-message">
              {{checkDeliveryAddress}}
            </mat-error>

            <!-- <app-alert class="alert-content">
              <p>{{checkDeliveryAddress}}.</p>
            </app-alert> -->
          </div>
        </div>
      </mat-radio-group>
      <!-- <div class="self-collect-free-selected" *ngIf="self_collect_free_active">
        <p class="delivery-opt-title">{{ 'CHECK_OUT.SELECT_DAYS_FOR_SELF_COLLECT' | translate }}:</p>
        <p class="deliveru-opt-description">{{ 'CHECK_OUT.YOU_CAN_SELECT' | translate }}</p>
        <div class="special-notes">
          <input matInput value="" (keyup)="onKey($event)">
        </div>
        <div class="canlendar-choose">
          <div class="ui-g-12 ui-md-12 field-datepicker-custom">
            <p-calendar [(ngModel)]="dateforDelivery" [showIcon]="true" [minDate]="minDate" readonlyInput="true" dateFormat="DD,dd/mm/yy"></p-calendar>
          </div>
        </div>
      </div> -->
      <!-- <div class="by-counrier-selected">
        <p class="delivery-opt-title">{{ 'CHECK_OUT.SPECIAL_NOTES' | translate }}</p>
        <p class="deliveru-opt-description">{{ 'CHECK_OUT.YOUR_PREFERRED_TIME' | translate }}</p>
        <div class="special-notes">
          <input matInput value="" (keyup)="onKey($event)">
        </div>
      </div> -->
    </div>

    <div class="customer-choose-area">

      <div style="display: block;">
        <!-- <mat-checkbox *ngIf="!self_collect_free_active && nation_code === 'SG' && isCheckShowSpecial" (change)="onChangeCheckBoxSpecial($event)">
          <span style="font-size: 14px; color: var(--text-color);">{{ 'CHECK_OUT.CHECK_BOX_SPECIAL' | translate }}</span>
        </mat-checkbox> -->
  
        <mat-radio-group *ngIf="isShowFormShippingSpecial" (change)='onChangeRadio($event)' class="specific-date-gr" [formGroup]='specificDateTimeForm'>
          <!-- value 1 -->
          <mat-radio-button class="radio-btn" *ngIf="cartShop.isCheckSpecialOnly" value="1" [checked]='isCheckButton1'>{{ 'CHECK_OUT.SPECIFIC_DATE' | translate }}
            <br> <span style="font-size: smaller; font-style: italic;"> {{ 'CHECK_OUT.ADDITIONAL_CHARGE' | translate }} </span></mat-radio-button>
  
          <div *ngIf="isCheckShowRadio1" class="shipping-special-form">
            <div class="content-ship-form">
              <p>{{ 'CHECK_OUT.SELECT_DATE' | translate }}</p>
              <p-calendar class="calendar-ship" [showIcon]="true" (onSelect)="onChangeDateStandard()" (onMonthChange)='onYearChange($event)'
              placeholder="{{ 'REPORTS.SELECT_DATE' | translate }}" formControlName='specificDate1'
              dateFormat="DD,dd/mm/yy" readonlyInput="true" [disabledDays]='[0,1]' [disabledDates]='publicHolidayArr' 
              [minDate]='minDateShip' [showOtherMonths]="false"></p-calendar>
            </div>

            <p class="note-special">{{ 'CHECK_OUT.NOTE_SPECIAL' | translate }}</p>

            <mat-error class="error-message" *ngIf="specificDateTimeForm.get('specificDate1').hasError('required') && isCheckShowRequired">
              {{ 'CHECK_OUT.SELECT_DATE_REQUIRED' | translate }}
            </mat-error>
            <div class="content-ship-form">
              <p> </p>
            <button [ngClass]="!isCheckBtnLater ? 'btn-select-date' : 'btn-select-now'" (click)='selectDateLater()'>{{!isCheckBtnLater ? ['CHECK_OUT.SELECT_DATE_LATER' | translate] : ['CHECK_OUT.SELECT_DATE_NOW' | translate]}}</button>
          </div>
            </div>
          <!-- value 2 -->
          <mat-radio-button class="radio-btn" *ngIf="cartShop.isCheckSpecialBefore" value="2" [checked]='isCheckButton2'> {{ 'CHECK_OUT.SPECIFIC_DATE_BEFORE' | translate }}
            <br> <span style="font-size: smaller; font-style: italic; white-space: normal;"> {{ 'CHECK_OUT.ADDITIONAL' | translate }}  {{valueShipSD | currency: cartShop.cartItems[0].currency_code + ' '}})</span></mat-radio-button>
  
          <div *ngIf="isCheckShowRadio2" class="shipping-special-form">
            <div class="content-ship-form" style="margin-bottom: 10px;">
              <p>{{ 'CHECK_OUT.SELECT_DATE' | translate }}</p>
              <p-calendar class="calendar-ship" [showIcon]="true" (onSelect)="onChangeDateBefore()" 
              placeholder="{{ 'REPORTS.SELECT_DATE' | translate }}" formControlName='specificDate2' (onMonthChange)='onYearChange($event)'
              dateFormat="DD,dd/mm/yy" readonlyInput="true" [disabledDays]='[0,6]' [disabledDates]='publicHolidayArr' 
              [minDate]='minDateShip' [maxDate]='maxDateShip' [showOtherMonths]="false"></p-calendar>
            </div>

            <mat-error class="error-message" *ngIf="specificDateTimeForm.get('specificDate2').hasError('required') && isCheckShowRequired">
              {{ 'CHECK_OUT.SELECT_DATE_REQUIRED' | translate }}
            </mat-error>
  
            <div class="content-ship-form">
              <p>{{ 'CHECK_OUT.SELECT_TIME' | translate }}</p>
              <p-dropdown class="dropdown-ship" [options]="timeOptionDateBefore" formControlName='specificTime2'
              (onChange)="onChangeTime($event)" optionLabel="DEL_TIME_SLOT" placeholder="{{ 'CHECK_OUT.SELECT_TIME_SPECIAL' | translate }}"></p-dropdown>
            </div>

            <p class="note-special">{{ 'CHECK_OUT.NOTE_SPECIAL' | translate }}</p>

            <mat-error class="error-message" *ngIf="specificDateTimeForm.get('specificTime2').hasError('required') && isCheckShowRequired">
              {{ 'CHECK_OUT.SELECT_TIME_REQUIRED' | translate }}
            </mat-error>
          </div>
  
          <!-- value 3 -->
          <mat-radio-button class="radio-btn" *ngIf="cartShop.isCheckSpecialAfter" value="3" [checked]='isCheckButton3'>{{ 'CHECK_OUT.SPECIFIC_DATE_AFTER' | translate }}<br> 
            <span style="font-size: smaller; font-style: italic; white-space: normal;">{{ 'CHECK_OUT.ADDITIONAL' | translate }} {{valueShipSD | currency: cartShop.cartItems[0].currency_code + ' '}})</span></mat-radio-button>
  
          <div *ngIf="isCheckShowRadio3" class="shipping-special-form">
            <div class="content-ship-form" style="margin-bottom: 10px;">
              <p>{{ 'CHECK_OUT.SELECT_DATE' | translate }}</p>
              <p-calendar class="calendar-ship" [showIcon]="true" (onSelect)="onChangeDateAfter()" 
              placeholder="{{ 'REPORTS.SELECT_DATE' | translate }}" formControlName='specificDate3' (onMonthChange)='onYearChange($event)'
              dateFormat="DD,dd/mm/yy" readonlyInput="true" [disabledDays]='[0]' [disabledDates]='publicHolidayArr' 
              [minDate]='minDateShip' [maxDate]='maxDateShip' [showOtherMonths]="false"></p-calendar>
            </div>

            <mat-error class="error-message" *ngIf="specificDateTimeForm.get('specificDate3').hasError('required') && isCheckShowRequired">
              {{ 'CHECK_OUT.SELECT_DATE_REQUIRED' | translate }}
            </mat-error>

            <div class="content-ship-form">
              <p>{{ 'CHECK_OUT.SELECT_TIME' | translate }}</p>
              <p-dropdown class="dropdown-ship" [options]="timeOptionDateAfter" formControlName='specificTime3'
              (onChange)="onChangeTime($event)" optionLabel="time_slot" placeholder="{{ 'CHECK_OUT.SELECT_TIME_SPECIAL' | translate }}"></p-dropdown>
            </div>

            <p class="note-special">{{ 'CHECK_OUT.NOTE_SPECIAL' | translate }}</p>

            <mat-error class="error-message" *ngIf="specificDateTimeForm.get('specificTime3').hasError('required') && isCheckShowRequired">
              {{ 'CHECK_OUT.SELECT_TIME_REQUIRED' | translate }}
            </mat-error>
          </div>
        </mat-radio-group>
      </div>
      <div>
      <div *ngIf="!is_disaled_city">
        <p class="choose-area-title">{{ 'CHECK_OUT.CHOOSE_A' | translate }}: </p>
        <p class="choose-area-description">{{ 'CHECK_OUT.CHOOSE_A_TEXT' | translate }}</p>
        <p-dropdown [options]="shipping_location"  [disabled]="is_disaled_city" [(ngModel)]="shipping_location_selected"  class="area-dropdown" [style]="{'width':'18em'}"  optionLabel="name" placeholder="Select shipping/collection area"></p-dropdown>
      </div>
      <p style="margin-bottom: 0px;" class="error-shipping-location" *ngIf="isShowErrorShippingLocation && shipping_location_selected === null">{{'CHECK_OUT.CHOOSE_SHIPPING' | translate}}</p>
      </div>
    </div> 

    <!-- deliveryAddress ||  -->
    <!--Delivery Address-->
    <form novalidate *ngIf="deliveryAddress && !self_collect_free_active" name="deliveryAddress" class="delivery-form"
      [formGroup]="deliveryAddress" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <br>
        <div class="delivery">
          <label class="delivery-label">{{ 'CHECK_OUT.DELIVERY_ADDRESS' | translate }}</label>
          <a class="edit-link" *ngIf="mail_phone_active == true"
            (click)="mail_phone_active=!mail_phone_active;">{{ 'CHECK_OUT.EDIT' | translate }}</a>
          <a class="edit-link" *ngIf="mail_phone_active == false"
            (click)="mail_phone_active=!mail_phone_active">{{ 'CHECK_OUT.CLOSE' | translate }}</a>
        </div>
        <p style="font-style: italic; color: #279A3F; font-size:12px">{{'CHECK_OUT.NOTE' | translate}}</p>
       
        <div *ngIf='mail_phone_active'>
          <div *ngIf="showAddress != undefined">
            <p>{{showAddress.last_name}} {{showAddress.first_name}}</p>
            <p>{{ displayAddress }}</p>
            <p>{{ displayStateCountry }}</p>
            <div class="email-address-and-phone">
              <div class="search-email">
                <mat-icon class="search-email-icon" [ngStyle]="{'color':'#279A3F'}">mail</mat-icon>
                <input class="form-control" disabled type="text" id="search-email-input"
                  placeholder={{showAddressEmail}}>
              </div>
              <div class="search-phone">
                <mat-icon class="search-phone-icon" [ngStyle]="{'color':'#279A3F'}">phone</mat-icon>
                <input class="form-control" disabled type="text" id="search-phone-input"
                  placeholder={{showAddressPhoneNumber}}>
              </div>
            </div>
          </div>
        </div>

        <div class="customer-information" *ngIf='!mail_phone_active'>

          <p class="title-edit-customer-info">{{ 'CHECK_OUT.EDIT_ADDRESS' | translate }}</p>
          <div class="form-group-2">
            <input class="form-control input-custom" placeholder="{{ 'CHECK_OUT.FIRST_NAME' | translate }}"
              formControlName="firstName">

            <!-- check required -->
            <mat-error class="error-message" *ngIf="deliveryAddress.get('firstName').hasError('required') && isShowAddress">
              {{ 'CHECK_OUT.FIRST_NAME_IS_REQUIRED' | translate }}
            </mat-error>
          </div>

          <div class="form-group-2">
            <input class="form-control input-custom" type="text" placeholder="{{ 'CHECK_OUT.LAST_NAME' | translate }}"
              formControlName="lastName">

            <!-- check required -->
            <!-- <mat-error class="error-message" *ngIf="deliveryAddress.get('lastName').hasError('required') && isShowAddress">
              {{ 'CHECK_OUT.LAST_NAME_IS_REQUIRED' | translate }}
            </mat-error> -->
          </div>

          <div class="form-group-2">
            <input class="form-control input-custom" type="text" placeholder="{{ 'CHECK_OUT.EMAIL' | translate }}"
              formControlName="emailAddress">

            <!-- check required -->
            <mat-error class="error-message" *ngIf="deliveryAddress.get('emailAddress').hasError('required') && isShowAddress">
              {{ 'CHECK_OUT.EMAIL_IS_REQUIRED' | translate }}
            </mat-error>

            <!-- check form email -->
            <mat-error class="error-message" *ngIf="!deliveryAddress.get('emailAddress').hasError('required') &&
            deliveryAddress.controls.emailAddress.errors?.pattern && deliveryAddress.controls.emailAddress.touched && isShowAddress">
              {{ 'CHECK_OUT.EMAIL_FAILED' | translate }}
            </mat-error>
          </div>

          <div class="row-cus">
            <div class="col-4-cus select-code">
              <div class="form-group-2">
                <app-dialCode class="select-custom" [SelectedDial]="showDeliveryAddressDiaCodePhoneNumber">
                </app-dialCode>
              </div>
            </div>

            <div class="col-8-cus input-phone">
              <div class="form-group-2 phone-number">
                <input class="form-control input-custom" type="text"
                  placeholder="{{ 'CHECK_OUT.PHONE_NUMBER' | translate }}" formControlName="phoneNumber">

                <!-- check required -->
                <mat-error class="error-message" *ngIf="deliveryAddress.get('phoneNumber').hasError('required') && isShowAddress">
                  {{ 'CHECK_OUT.PHONE_IS_REQUIRED' | translate }}
                </mat-error>

                <!-- <mat-error class="error-message" *ngIf="!deliveryAddress.get('phoneNumber').hasError('required')
                && deliveryAddress.get('phoneNumber').hasError('phone_number') 
                && (deliveryAddress.get('phoneNumber').dirty || deliveryAddress.get('phoneNumber').touched)">
                  {{ 'CHECK_OUT.PHONE_NUMBER_FAILED' | translate }}
                </mat-error> -->

                <!-- check number -->
                <mat-error class="error-message" *ngIf="!deliveryAddress.get('phoneNumber').hasError('required')
                && deliveryAddress.get('phoneNumber').hasError('phone_number') 
                && (deliveryAddress.get('phoneNumber').dirty || deliveryAddress.get('phoneNumber').touched) 
                && isShowAddress">
                {{ 'CHECK_OUT.PHONE_NUMBER_FAILED' | translate }}                 
                </mat-error>               

              </div>
            </div>
          </div>

          <div class="form-group-2">
            <input class="form-control input-custom" placeholder="{{ 'CHECK_OUT.ADDRESS_LINE1' | translate }}"
              formControlName="addressLine1">

            <!-- check required -->
            <mat-error class="error-message" *ngIf="deliveryAddress.get('addressLine1').hasError('required') && isShowAddress">
              {{ 'CHECK_OUT.ADDRESS_LINE1_REQUIRED' | translate }}
            </mat-error>

            <!-- check length limit -->
            <mat-error class="error-message" *ngIf="deliveryAddress.get('addressLine1').hasError('maxlength') && isShowAddress">
              {{ 'CHECK_OUT.ADDRESS_LENGTH_LIMIT' | translate }}
            </mat-error>
          </div>

          <div class="form-group-2">
            <input class="form-control input-custom" placeholder="{{ 'CHECK_OUT.CONDO_NAME/AREA' | translate }}"
              formControlName="addressLine2">
              <!-- <p class="note">e.g.: Orchard, Bishan, etc.</p> -->
              <mat-error class="error-message" *ngIf="deliveryAddress.get('addressLine2').hasError('required') && isShowAddress">
                {{ 'CHECK_OUT.CONDO_NAME/AREA_REQUIRED' | translate }}
              </mat-error>
            <!-- check length limit -->
            <mat-error class="error-message" *ngIf="deliveryAddress.get('addressLine2').hasError('maxlength') && isShowAddress">
              {{ 'CHECK_OUT.ADDRESS_LENGTH_LIMIT' | translate }}
            </mat-error>
          </div>

          <div class="form-group-2">
            <input class="form-control input-custom" placeholder="{{ 'CHECK_OUT.ADDRESS_LINE3' | translate }}"
              formControlName="addressLine3">

            <!-- check length limit -->
            <mat-error class="error-message" *ngIf="deliveryAddress.get('addressLine3').hasError('maxlength') && isShowAddress">
              {{ 'CHECK_OUT.ADDRESS_LENGTH_LIMIT' | translate }}
            </mat-error>
          </div>

          <div class="form-group-2">
            <input class="form-control input-custom" placeholder="{{ 'CHECK_OUT.POSTAL_CODE' | translate }}"
              formControlName="postalCode">

            <!-- check required -->
            <mat-error class="error-message" *ngIf="deliveryAddress.get('postalCode').hasError('required') && isShowAddress">
              {{ 'CHECK_OUT.POSTAL_CODE_REQUIRED' | translate }}
            </mat-error>
          </div>

          <div id="detail-div">
            <div class="detail-div-inline">
              <mat-form-field appearance="none">
                <mat-select [disabled]="true" formControlName="countryCode"  [(ngModel)]="nation_code" placeholder="{{ 'CHECK_OUT.COUNTRY_CODE' | translate }}"
                  (selectionChange)="setFormState($event)">
                  <div *ngFor="let country of countryCodeToName | keyvalue:keepOriginalOrder">
                    <mat-option value="{{country.key}}">{{country.value}}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <mat-error class="error-message" *ngIf="deliveryAddress.get('countryCode').hasError('required') && isShowAddress">
                {{ 'CHECK_OUT.COUNTRY_CODE_IS_REQUIRED' | translate }}
              </mat-error>
            </div>
            <div class="detail-div-inline">
              <mat-form-field appearance="none">
                <mat-select [disabled]="nation_code != 'MY'" [(ngModel)]="city_state_code" formControlName="stateCode" placeholder="{{ 'CHECK_OUT.STATE_CODE' | translate }}">
                  <div *ngFor="let state of stateCodeToNameFormOptions | keyvalue:keepOriginalOrder">
                    <mat-option value="{{state.key}}">{{state.value}}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <mat-error class="error-message" *ngIf="deliveryAddress.get('stateCode').hasError('required') && isShowAddress">
                {{ 'CHECK_OUT.STATE_CODE_IS_REQUIRED' | translate }}
              </mat-error>
            </div>
          </div>

          <div class="example-button-row">
            <button mat-button class="btn-color-custom">{{ 'CHECK_OUT.SAVE_CHANGE' | translate }}</button>
          </div>

        </div>

        
      </div>
    </form>

    <br>

    <!-- *ngIf="!is_buy_for_customer" -->
    <form *ngIf="is_show_customer_info" novalidate class="customer-infor-form" [formGroup]="customerInformation"
      style="margin-top:10px">
      <!--Customer Information-->
      <div class="form-group">
        <br>
        <span class="bold-text">{{ 'CHECK_OUT.CUSTOMER_INFORMATION' | translate }}</span>
        <a class="edit-link" *ngIf="edit_customer_information_active == false"
          (click)="edit_customer_information_active=true">{{ 'CHECK_OUT.EDIT' | translate }}</a>
        <a class="edit-link" *ngIf="edit_customer_information_active == true"
          (click)="edit_customer_information_active=false">{{ 'CHECK_OUT.CLOSE' | translate }}</a>
        <div *ngIf="!edit_customer_information_active">
          <p>{{showCustomerName}}</p>
          <p>{{ 'CHECK_OUT.EMAIL' | translate }}: {{showCustomerEmail}}</p>
          <p>{{ 'CHECK_OUT.PHONE' | translate }}: {{showCustomerNumber}}</p>
          <div id="copy-from" (click)="getInformation()">
            <p *ngIf='checkCopyFrom && !valueCheck' (click)='copyFromDeliveryAddress()'>
              {{ 'CHECK_OUT.COPY_FROM' | translate }} </p>
            <p *ngIf='checkCopyFrom && !valueCheck' (click)='copyFromDeliveryAddress()'>
              {{ 'CHECK_OUT.DELIVERY_ADDRESS' | translate }}</p>
          </div>
        </div>
        <div class="customer-information" *ngIf="edit_customer_information_active">
          <p class="title-edit-customer-info">{{ 'CHECK_OUT.EDIT_CUSTOMER_INFORMATION' | translate }}</p>
          <div class="form-group-2">
            <input class="form-control input-custom" placeholder="{{ 'CHECK_OUT.FIRST_NAME' | translate }}"
              formControlName="first_name">

            <!-- check required -->
            <mat-error class="error-message"
              *ngIf="(customerInformation.get('first_name').hasError('required') || customerInformation.get('first_name').value == ' ') && isShowInfo ">
              {{ 'CHECK_OUT.FIRST_NAME_IS_REQUIRED' | translate }}
            </mat-error>
          </div>
          <div class="form-group-2">
            <input class="form-control input-custom" type="text" id="ci-last-name"
              placeholder="{{ 'CHECK_OUT.LAST_NAME' | translate }}" formControlName="last_name">

            <!-- check required -->
            <mat-error class="error-message"
              *ngIf="(customerInformation.get('last_name').hasError('required') || customerInformation.get('last_name').value == ' ') && isShowInfo">
              {{ 'CHECK_OUT.LAST_NAME_IS_REQUIRED' | translate }}
            </mat-error>
          </div>
          <div class="form-group-2">
            <input class="form-control input-custom" type="email" id="ci-email"
              placeholder="{{ 'CHECK_OUT.EMAIL' | translate }}" formControlName="email_address">

            <!-- check required -->
            <mat-error class="error-message" *ngIf="customerInformation.get('email_address').hasError('required') && isShowInfo">
              {{ 'CHECK_OUT.EMAIL_IS_REQUIRED' | translate }}
            </mat-error>

            <!-- check form email -->
            <mat-error class="error-message"
              *ngIf="!customerInformation.get('email_address').hasError('required') &&
            customerInformation.controls.email_address.errors?.pattern && customerInformation.controls.email_address.touched && isShowInfo">
              {{ 'CHECK_OUT.EMAIL_FAILED' | translate }}
            </mat-error>
          </div>
          <div class="row-cus">
            <div class="col-4-cus select-code">
              <div class="form-group-2">
                <app-dialCode class="select-custom" [SelectedDial]="showCustomerDiaCodePhoneNumber"></app-dialCode>
              </div>
            </div>
            <div class="col-8-cus input-phone">
              <div class="form-group-2 phone-number">
                <input class="form-control input-custom" type="text" id="ci-phone"
                  placeholder="{{ 'CHECK_OUT.PHONE_NUMBER' | translate }}" formControlName="phone_number" maxlength="12">

                <!-- check required -->
                <mat-error class="error-message" *ngIf="customerInformation.get('phone_number').hasError('required') && isShowInfo">
                  {{ 'CHECK_OUT.PHONE_IS_REQUIRED' | translate }}
                </mat-error>

                <!-- <mat-error class="error-message" *ngIf="!customerInformation.get('phone_number').hasError('required')
                && customerInformation.get('phone_number').hasError('phone_number') 
                && (customerInformation.get('phone_number').dirty || customerInformation.get('phone_number').touched)">
                  {{ 'CHECK_OUT.PHONE_NUMBER_FAILED' | translate }}
                </mat-error> -->

                <!-- check number -->
                <mat-error class="error-message" *ngIf="!customerInformation.get('phone_number').hasError('required')
                && customerInformation.get('phone_number').hasError('phone_number') 
                && (customerInformation.get('phone_number').dirty || customerInformation.get('phone_number').touched)
                && isShowInfo">
                {{ 'CHECK_OUT.PHONE_NUMBER_FAILED' | translate }}
                </mat-error>  

              </div>
            </div>
          </div>
          <div class="example-button-row">
            <button mat-button class="btn-color-custom"  (click)="onUpdateCustomerInformation()">{{ 'CHECK_OUT.SAVE_CHANGE' | translate }}</button>
          </div>

        </div>

      </div>

    </form>
    <br>
    <!--Devider-->
    <!-- <mat-divider class="divider"></mat-divider> -->


    <!-- Summany -->
  </div>

  <div class="FormFooter">
    <div class="inForm">
      <div class="order">
        <!-- <p class="order">Order amount:</p> -->
        <div class="grid2" fxLayout="row">
          <div class="amount" fxLayout="column">
            <div class="table">
              <div class="col-left">
                <div>{{ 'FORM_FOOTER.SHIPPING' | translate }}:</div>
                <div>{{ 'FORM_FOOTER.SUBTOTAL' | translate }}:</div>

              </div>
              <div class="col-right">
                <ng-container *ngIf="!isEntityMy">
                  <div *ngIf="!isCheckNaep">{{shipping2 | currency:' '}}</div>
                  <div *ngIf="isCheckNaep">{{naepShipping | currency:' '}}</div>
                </ng-container>
                <ng-container *ngIf="isEntityMy">
                  <div>{{ shippingFee | currency: ' ' }}</div>
                </ng-container>

                <div *ngIf="!isCheckNaep">{{subTotal | currency:' '}}</div>
                <div *ngIf="isCheckNaep">{{naepSubTotal | currency:' '}}</div>
              </div>
            </div>
            <p class="total" *ngIf="!isCheckNaep">{{ 'FORM_FOOTER.TOTAL' | translate }}:  <span style="padding-left: 10px;">{{Total | currency: currency+' '}}</span></p>
            <p class="total" *ngIf="isCheckNaep">{{ 'FORM_FOOTER.TOTAL' | translate }}:  <span style="padding-left: 10px;">{{naepTotal | currency: currency+' '}}</span></p>
          </div>
          <div class="button-pay">
            <button (click)="goOrderSummary()" [disabled]="disableCheckOut" mat-raised-button color="primary"
              class="PAY-button" aria-label="View">
              {{ 'CHECK_OUT.BTN_CHECK_OUT' | translate }}
            </button>
          </div>

        </div>
      </div>
    </div>
    <div style="background-color: var(--yellow-background); height: 12px;"></div>
  </div>

</div>

<app-placeholder-loading *ngIf="loading" component="checkOut"></app-placeholder-loading>
