<div class="qr-code">
    <div class="order-qr" fxLayout="column" fxLayoutAlign="">

        <div class="qr-header" >
            <app-title [type]="title" [message]="'ORDER_DETAIL.HOST'">
            </app-title>
        </div>

        <div *ngIf="qrvalue">
            <mat-card id="qr-code">
                <p>Please show the QR code for your advisor to scan when hosting party completed.</p>
                <qrcode cssClass="qr-code-qr-code" [qrdata]="qrvalue" [width]="256" [errorCorrectionLevel]="'M'">
                </qrcode>
            </mat-card>
        </div>

    </div>

</div>