<div class="contact-us">
    <div class="header-contact">
        <p>CONTACT US</p>
        <p>WE WOULD LOVE TO HEAR FROM YOU</p>
    </div>

    <div class="content-contact">
        <p>Whether you are looking to purchase a Thermomix® TM6, to join us as a Thermomix® Advisor, needing help with your Thermomix® or just wanting to say hello; we’d love to hear from you!</p>
        <p>In the unlikely event that your Thermomix® experiences technical problems, or if you would simply like to purchase new accessories, you can get in touch with one of our experts at Thermomix®. We have a technical team on site to provide you with friendly, helpful advice and assistance, whatever your enquiry may be.
        </p>
    </div>
    <br>

    <div class="footer-contact">
        <p><span style="font-weight: 600;">Thermomix® Malaysia | True Mix Sdn. Bhd. </span>(842085-U)</p> 
        
        <p>Address: 11A & 15, Jalan PJU 3/46, Sunway Damansara Technology Park, 47810 Petaling Jaya, Selangor Darul Ehsan, Malaysia.</p>
        <p>Day and Time: Mon-Fri from 9:30 to 4:30pm</p>
        <p>Customer Service: 03-7804 9326</p>
        
    </div>
</div>