@import "src/@fuse/scss/fuse";
@import "../../../../@fuse/scss/partials/background";

.title{
    font-size: 16px;
    font-weight: normal;
    margin-top: -10px;
    color: #5A616F !important;
    // margin-top: 10px;
    margin-bottom: 30px;
    // padding: 20px 0px;
}
hr{
    margin-top: -20px;
    background-color: #5A616F !important;
}
.message{
    font-size: 16px;
    font-weight: normal ;
    color: #5A616F !important;
    margin-top: 15px;
    margin-bottom: 20px;
}
.pt-24-rejected{
    padding-bottom: 30px;
    @media screen and (min-width : 750px){
        width: 60% !important;
        margin: 0 auto;
    }
    width: 100%;
    .ok-button{
        background-color: var(--red-color) !important;
        color: white !important;
        // padding-left: 43px !important;
        // padding-right: 43px !important;
        text-align: center;
        border: 1px solid var(--red-color);
        @media only screen and (max-width : 350px) {
            padding-left: 35px !important;
            padding-right: 35px !important;
        };
        height: 40px;
        width: 49%;
        margin: 0px;
        margin-right: 1%;
    }
    .cancel-button{
        background-color: #ffffff !important;
        color: #0A73EB !important;
        // padding-left: 30px !important;
        // padding-right: 30px !important;
        text-align: center;

        border: 1px solid #0A73EB;
        @media only screen and (max-width : 350px) {
            padding-left: 25px !important;
            padding-right: 25px !important;
        };
        height: 40px;
        width: 49%;
        margin: 0px;
        margin-left: 1%;
    }
    .ok-button-success{
        background-color: var(--primary-color) !important;
        color: white !important;
        // padding-left: 43px !important;
        // padding-right: 43px !important;
        text-align: center;
        border: 1px solid var(--primary-color);
        @media only screen and (max-width : 350px) {
            padding-left: 35px !important;
            padding-right: 35px !important;
        };
        height: 40px;
        width: 49%;
        margin: 0px;
        margin-right: 1%;
    }
}

.pt-24-approved {
    padding-bottom: 30px;
    @media screen and (min-width : 750px){
        width: 60% !important;
        margin: 0 auto;
    }
    width: 100%;
    .ok-button{
        background-color: var(--primary-color) !important;
        color: white !important;
        padding-left: 43px !important;
        padding-right: 43px !important;
        border: 1px solid var(--primary-color);       
        @media only screen and (max-width : 350px) {
            padding-left: 35px !important;
            padding-right: 35px !important;
            color: white !important;
        }
        height: 40px;
        width: 49%;
        margin: 0px;
        margin-left: 1%;
    }
    .cancel-button-1{
        background-color: #fffff0 !important;

        color: var(--primary-color) !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
        border: 1px solid var(--primary-color);
        @media only screen and (max-width : 350px) {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }
        height: 40px;
        width: 49%;
        margin: 0px;
        margin-right: 1%;
    }
}