@import "src/@fuse/scss/fuse";
.advisor-become{
    width: 100% !important;
    height: 100%;
    background-color: var(--form-background);
    flex: 1 0 auto;
    padding: 15px;

    .advisor-search{
        height: 40%;
        background-color: white;
        width: 100%;
        padding: 10px;
        .link{
            .text{
                padding-left: 3px;
                text-decoration: underline;
            }
        }
        .advisor-wrapper{
            width: 100%;
            flex: 1 0 auto;
            // padding: 32px;
            // margin: 8px 16px;
            background-color: white;
            .advisor-form-field{
                p{
                    padding-left: 10px;
                }
                width: 100%;
                .example-form{
                    width: 100%;
                    padding: 0 20px;
                    input{
                        color: var(--input-color);
                        ::placeholder{
                            color: var(--placeholder-color) !important; 
                          }
                    }
                    .example-full-width{
                        height: 78px;
                        width: 100%;
                        font: small-caption;
                        .mat-form-field-appearance-outline 
                        .mat-form-field-outline 
                        .mat-form-field-outline-start,
                        .mat-form-field-appearance-outline 
                        .mat-form-field-outline 
                        .mat-form-field-outline-end {
                            border-radius: 8px;
                        }
                    }
                }
            }
            .advisor-search-button{
                .search-button{
                    width: 30%;
                    display: block;
                    float: left;
                    background-color: var(--primary-color);
                    color: white;
                    height: 40px;
                    margin-left: 20px;
                    font-size: 13px;
                    // @media only screen and (min-width : 750px) {
                    //     height: 50px !important;
                    //     font-size: 18px !important;
                        
                    // }
                }
                .advisor-btn-disable{
                    color: #ffffff;
                    background-color: var(--button-disable-background);
                    pointer-events: none;
                }

        
            }
        
        }
       
    }
    .detail-container{
        height: 45% !important;
        .detail{
            box-shadow: 0px 2px 8px #00000029;
            .advisor-detail-search{
                position: relative;
                padding: 5px 15px;
                .advisor-check{
                    float: right;
                    background-color: #2d2add;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 35px;
                    right: 25px;
                }
                .advisor-name{
                    display: flex;
                    margin-top: 15px;
                    .advisor-name-header{
                        width: 40%;
                    }
                    .advisor-name-detail{
                        width: 60%;
                    }
                }    
                .avisor-img{
                    text-align: center;
                    .avisor-img-radius{
                        border-radius: 50%; 
                        width: 104px;
                    }
                    margin-top: 10px;
                    margin-bottom: 10px;
                }           
            }
        }
    }
    .advisor-button{
        background-color: #ffffff;
        opacity: 1;
        height: 20%;
        padding-top: 10px;
        .advisor-btn{
            cursor: pointer;
            width: 47%;
            height: 45px;
            border-radius: 8px;
            margin-left: 5px;
            border: 0.5px solid var(--primary-color);
        }
        .advisor-btn-cancel{
            color: var(--primary-color);
            background-color: #ffffff;
        }
        .advisor-btn-submit{
            color: #ffffff;
            background-color: var(--primary-color);
        }
        .advisor-btn-disable{
            color: #ffffff;
            background-color: var(--button-disable-background);
            pointer-events: none;
        }
    }
    .advisor-not{
        text-align: center;
        background-color: #ffffff;
        height: 100%;
    }
}